<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>완벽한 자취생활, 완자</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="../../assets/img/wanza-Icon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <style>
        a:link {text-decoration:none; color:black;}
        a:visited {text-decoration:none; color:black;}
        a:active {text-decoration:none;}
        a:hover {text-decoration:none;}

        /* 사진 리스트 */
        .project_wrap{
            text-align: center;
            margin-bottom: 10px;
            position: relative;
        }
        .project_wrap a{ /* 사진 링크 */
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        
        /* 사진 이미지 */
        .project_item{
            position: relative;
            overflow: hidden;
            padding-bottom: 100%;
            background-color: #f5f5f5;
            border-radius: 10px; 
        }
        .project_item > img {
            position: absolute;
            top: 50%; left: 50%;
            width: 100%;
            transform: translate(-50%,-50%);
            transition: transform .2s;
        }

<!-- 
        .project_wrap a:hover+.project_item img{
            transform: scale(1.1) translate(-45%,-45%);
            transition: transform .5s;
        }
 -->

        #marker {
            transform: scale(1);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transition: all 0.1s ease-in-out;
        }

        #marker:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
        }

        #marker:hover #markerMessage{
            display:block;
            transform-origin: 100% 0%;
            -webkit-animation: fadeIn 0.3s ease-in-out;
            animation: fadeIn 0.3s ease-in-out;
        }

        #marker #markerMessage{
            display: none;
            text-align: left;
            background-color: #fff5e2a1;
            padding: 8px;
            padding-top: 15px;
            width: 300px;
            position: absolute;
            border-radius: 10px;
            box-shadow: 1px 1px 1px rgba(248, 139, 14, 0.418);
            right: -120px;
            top: 50px;
            color: rgb(197, 99, 99);
            font-size: 13px;
            line-height: 1.4;
        }

        #marker #markerMessage:before{
            position: absolute;
            content: '';
            width:0;
            height: 0;
            border:6px solid transparent;
            border-bottom-color:#F4744C;
            right:134px;
            top:-12px;
        }

        #marker #markerMessage:after{
            width:100%;
            height:40px;
            content:'';
            position: absolute;
            top:-40px;
            left:0;
        }

        @-webkit-keyframes fadeIn {
            0% { 
                opacity:0; 
                transform: scale(0.6);
            }
            100% {
                opacity:100%;
                transform: scale(1);
            }
        }
        
        @keyframes fadeIn {
            0% { opacity:0; }
            100% { opacity:100%; }
        }​ 
    </style>
</head>

<body style="font-family: 'Noto Sans KR', sans-serif;">
    <header include-html="../commons/header.html"></header>
    <nav include-html="../commons/menuComm.html"></nav>


    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="row" style="height: 150px;"></div>
                <div class="row">
                    <div class="col" style="margin-bottom: 10px;">
                        <h4 style="font-size: 19px;"><strong>nickname</strong></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>원룸&nbsp;· 앤틱&nbsp;·&nbsp;<i class="fa fa-circle" style="font-size: 20px;color: var(--orange);"></i><br></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><span style="color: rgb(244, 116, 76);">조회 15,010&nbsp;&nbsp;</span><span>·&nbsp;댓글 3</span></div>
                </div>
                <div class="row" style="margin-top: 45px;">
                    <div class="col"><span>조명으로 포근한 밤&nbsp; 🌙<br></span></div>
                </div>
                <div class="row" style="margin-top: 80px;margin-bottom: 25px;">
                    <div class="col"><button id="likeBtn" class="btn" type="button" style="width: 150px;height: 45px;background: rgb(244, 116, 76);color: rgb(255,255,255);"></button></div>
                </div>
                <div class="row" style="margin-top: 5px;width: 350px;margin-right: 10px;margin-left: -5px;margin-bottom: 0px;padding-right: 5px;">  
                    
                    <!-- 메인 이외의 업로드 사진 리스트 -->

                    <div style="width: 150px;margin-right: 5px;">
                        <article article class="project_wrap">
                        <a href="#"></a>
                        <div class="project_item">
                            <span></span>
                            <img src="../../assets/img/2222.jpg" width="150px" style="margin: 3px;">
                        </div>
                        </article> 
                    </div>

                    <div style="width: 150px;margin-right: 5px;">
                        <article article class="project_wrap">
                        <a href="#"></a>
                        <div class="project_item">
                            <span></span>
                            <img src="../../assets/img/2222.jpg" width="150px" style="margin: 3px;">
                        </div>
                        </article> 
                    </div>

                    <div style="width: 150px;margin-right: 5px;">
                        <article article class="project_wrap">
                        <a href="#"></a>
                        <div class="project_item">
                            <span></span>
                            <img src="../../assets/img/2222.jpg" width="150px" style="margin: 3px;">
                        </div>
                        </article> 
                    </div>

                    <div style="width: 150px;margin-right: 5px;">
                        <article article class="project_wrap">
                        <a href="#"></a>
                        <div class="project_item">
                            <span></span>
                            <img src="../../assets/img/2222.jpg" width="150px" style="margin: 3px;">
                        </div>
                        </article> 
                    </div>
                    
                    
                </div>
            </div>
            <div class="col">
                <h3 style="text-align: center;margin-top: 65px;margin-bottom: 25px;"><strong>단점을 장점으로~ 트렌드한 내추럴 하우스</strong></h3>

                
                <div class="row" style="text-align: center;">
                    <div class="col">

                        <!-- 메인 사진 마커 -->

                        <div style="position: absolute;">
                            <div id="marker" style="position: relative; top: 42px;left: 255px;">
                                <img src="../../assets/img/marker.png" style="width: 40px;">
                                <div id="markerMessage">
                                    <div class="row">
                                            <div class="col">
                                                <img style="width: 80px;border-radius: 7px;margin-left: 10px;" src="../../assets/img/978a6658c39f5857b77d5af8f27e13d3.jpg">
                                            </div>
                                            <div class="col" style="margin-left: -40px;margin-right: -10px;">
                                                <p><b>인테리어 그림 액자 포스터</b></p>
                                                <p style="font-size: 15px;"><b>48,900원</b></p>
                                            </div>
                                            <div class="col" style="margin-top: 25px;margin-right: -70px;">
                                                <p style="font-size: 25px;"><b>＞</b></p>
                                            </div>
                                        </div>
                                    </div>   
                            </div>
                        </div>

                        <div style="position: absolute;">
                            <div id="marker" style="position: relative; top: 300px;left: 700px;">
                                <img src="../../assets/img/marker.png" style="width: 40px;">
                                <div id="markerMessage">
                                    <div class="row">
                                        <div class="col">
                                            <img style="width: 80px;border-radius: 7px;margin-left: 10px;" src="../../assets/img/978a6658c39f5857b77d5af8f27e13d3.jpg">
                                        </div>
                                        <div class="col" style="margin-left: -40px;margin-right: -10px;">
                                            <p><b>인테리어 그림 액자 포스터</b></p>
                                            <p style="font-size: 15px;"><b>48,900원</b></p>
                                        </div>
                                        <div class="col" style="margin-top: 25px;margin-right: -70px;">
                                            <p style="font-size: 25px;"><b>＞</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <div style="position: absolute;">
                            <div id="marker" style="position: relative; top: 400px;left: 270px;">
                                <img src="../../assets/img/marker.png" style="width: 40px;">
                                <div id="markerMessage">
                                    <div class="row">
                                        <div class="col">
                                            <img style="width: 80px;border-radius: 7px;margin-left: 10px;" src="../../assets/img/978a6658c39f5857b77d5af8f27e13d3.jpg">
                                        </div>
                                        <div class="col" style="margin-left: -40px;margin-right: -10px;">
                                            <p><b>인테리어 그림 액자 포스터</b></p>
                                            <p style="font-size: 15px;"><b>48,900원</b></p>
                                        </div>
                                        <div class="col" style="margin-top: 25px;margin-right: -70px;">
                                            <p style="font-size: 25px;"><b>＞</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        


                        <img style="border-radius: 10px;" src="../../assets/img/KakaoTalk_20210506_155958419.jpg">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 60px;">
        <div class="row">
            <div class="col-xl-8 offset-xl-0">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col">
                        <h6 style="font-size: 17px;"><strong id="showReviewCount"></strong></h6>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 15px;">
                    <div class="col"><input id="reviewContent" type="text" placeholder="내용을 입력해주세요." style="width: 600px;height: 35px;"><button id="reviewBtn" class="btn" type="button" style="margin-left: 15px;background: rgb(244, 116, 76);color: rgb(255,255,255);width: 65px;height: 37px;margin-bottom: 5px;">작성</button></div>
                </div>

                <div class="cardReview">

                    <!-- 댓글 리스트 -->

                </div>

                <!-- Pagination -->
                <div class="row" style="margin-top: 20px;" style="justify-content:center;">
                    <div class="col offset-xl-3">
                        <nav aria-label="Page navigation">
                            <ul class="pagination" id="pagination"></ul>
                        </nav>
                    </div>
                </div>


            </div>
            <div class="col-xl-3">
                <div class="row">
                    <div class="col">
                        <h6 style="font-size: 17px;margin-bottom: 20px;"><strong>인테리어 아이템</strong></h6>
                    </div>
                </div>
                <div class="row" style="width: 340px;margin-left: 10px;">
                    
                    <!-- 메인 사진 아이템 리스트 --> 
                    
                    <div style="width: 90px;margin-right: 7px;">
                        <article article class="project_wrap">
                            <a href="#"></a>
                            <div class="project_item">
                                <span></span>
                                <img src="../../assets/img/978a6658c39f5857b77d5af8f27e13d3.jpg">
                            </div>
                        </article>
                    </div>


                    <div style="width: 90px;margin-right: 7px;">
                        <article article class="project_wrap">
                            <a href="#"></a>
                            <div class="project_item">
                                <span></span>
                                <img src="../../assets/img/978a6658c39f5857b77d5af8f27e13d3.jpg">
                            </div>
                        </article>
                    </div>


                    <div style="width: 90px;margin-right: 7px;">
                        <article article class="project_wrap">
                            <a href="#"></a>
                            <div class="project_item">
                                <span></span>
                                <img src="../../assets/img/978a6658c39f5857b77d5af8f27e13d3.jpg">
                            </div>
                        </article>
                    </div>


                    <div style="width: 90px;margin-right: 7px;">
                        <article article class="project_wrap">
                            <a href="#"></a>
                            <div class="project_item">
                                <span></span>
                                <img src="../../assets/img/978a6658c39f5857b77d5af8f27e13d3.jpg">
                            </div>
                        </article>
                    </div>


                    <div style="width: 90px;margin-right: 7px;">
                        <article article class="project_wrap">
                            <a href="#"></a>
                            <div class="project_item">
                                <span></span>
                                <img src="../../assets/img/978a6658c39f5857b77d5af8f27e13d3.jpg">
                            </div>
                        </article>
                    </div>


                    <div style="width: 90px;margin-right: 7px;">
                        <article article class="project_wrap">
                            <a href="#"></a>
                            <div class="project_item">
                                <span></span>
                                <img src="../../assets/img/978a6658c39f5857b77d5af8f27e13d3.jpg">
                            </div>
                        </article>
                    </div>

                </div>
                <div class="row" style="width: 340px;">
                    <div class="col" style="text-align: center;">
                        <h6>(페이징 버튼)</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 70px;">
        <div class="row">
            <div class="col">
                <h3><strong>비슷한 인테리어 추천</strong></h3>
            </div>
        </div>
        <div class="row"></div>
    </div>

    <footer include-html="../commons/footer.html"></footer>


    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../js/includeHTML.js"></script>
    <script src="../../js/header.js"></script>
    <script type="text/javascript" src="../../js/jquery.twbsPagination.min.js"></script>

    <script>


    //파라미터값 가져오도록 하는 함수
    function getParameter(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    let seq = getParameter("seq");

    
    //로그인한 계정 닉네임 가져오기
    let sessionId = JSON.parse(sessionStorage.getItem("login"));


    let existLike = "";

    $(document).ready(function() {

        // 좋아요 총 개수 가져오기
        getCardLikeCount()
        function getCardLikeCount() {
            $.ajax({
                url: "http://192.168.0.231:3000/getCardLikeCount",
                type: "get",
                data: {
                    "cardSeq": seq
                },
                async: false,
                success: function (likeCount) {
                    console.log(likeCount);
                    $('#likeBtn').html('<i class="fa fa-heart" style="color: var(--light);"></i> &nbsp; ' + likeCount);
                },
                error: function () {
                    alert('getCardLikeCount() error');
                }
            });
        };


        // 해당 게시물 좋아요 눌렀는지 여부 조회
        getBoolLike()
        function getBoolLike() {
            $.ajax({
                url: "http://192.168.0.231:3000/getBoolLike",
                type: "get",
                data: {
                    "cardSeq": seq,
                    "userSeq": sessionId.userSeq
                },
                async: false,
                success: function (data) {
                    console.log(data);
                    existLike = data;
                    if (data == "exist") {
                        $('#likeBtn i').attr('style', "color: red; font-size: 18px;");
                    }
                    else {

                    }
                },
                error: function () {
                    alert('getCardLikeCount() error');
                }
            });
        };


        // 좋아요 버튼 클릭
        $('#likeBtn').click(function() {
            // 좋아요가 눌려있지 않았다면 좋아요 +1
            if (existLike != "exist") {
                $.ajax({
                    url: "http://192.168.0.231:3000/addCardLikeCount",
                    type: "get",
                    data: {
                        "cardSeq": seq,
                        "userSeq": sessionId.userSeq
                    },
                    success: function (data) {
                        console.log(data);
                        if (data == "suc") {
                            getCardLikeCount();
                            getBoolLike();
                        }
                        else {
                            alert('에러')
                        }
                    },
                    error: function () {
                        alert('getCardLikeCount() error');
                    }
                });
            }
            else {  //좋아요가 눌려있었다면 좋아요 -1 
                $.ajax({
                    url: "http://192.168.0.231:3000/deleteCardLikeCount",
                    type: "get",
                    data: {
                        "cardSeq": seq,
                        "userSeq": sessionId.userSeq
                    },
                    success: function (data) {
                        console.log(data);
                        if (data == "suc") {
                            getCardLikeCount();
                            getBoolLike();
                        }
                        else {
                            alert('에러')
                        }
                    },
                    error: function () {
                        alert('deleteCardLikeCount() error');
                    }
                });
            }
        });


        // 조회수 1 증가
        addCardReadCount()
        function addCardReadCount() {
            $.ajax({
                url: "http://192.168.0.231:3000/addCardReadCount",
                type: "get",
                data: {
                    "cardSeq": seq
                },
                success: function (data) {
                    if (data == "suc") {
                        console.log('조회수 1 증가');
                    }
                },
                error: function () {
                    alert('addCardReadCount() error');
                }
            });
        };







    });





















    //댓글 달기
    $(function () {
        $('#reviewBtn').click(function () {
            $.ajax({
                url: "http://192.168.0.231:3000/cardReviewWrite",
                type: "post",
                data: {
                    "cardSeq": seq,
                    "nickName": sessionId.nickname,
                    "cardRevContent": $('#reviewContent').val()
                },
                success: function (data) {
                    if (data == "suc") {
                        getCardReviewList(0);
                        getCardReviewCount();
                        $('#reviewContent').val('');

                    }
                    else {
                        alert("작성 실패");
                    }

                },
                error: function () {
                    alert("error");
                }
            });

        });

    });


        
    // 댓글 가져오기
    getCardReviewList(0);
    function getCardReviewList(pageNum) {
        $.ajax({
            url: "http://192.168.0.231:3000/getCardReviewList",
            type: "get",
            data: {
                "cardSeq":seq,
                "cardRevPageNum":pageNum
            },
            success: function (list) {

                $('.reviews').remove();

                console.log(list);

                let app = ""
                if (Object.keys(list).length == 0) {

                    app += '<div class="reviews" style="width: 320px; margin-right: 50px;">'
                        + '<h3 style="font-size: 15px; margin-top: 10px;"><b>댓글이 없습니다.</b></h3>'
                        + "</div>";

                    $(".cardReview").append(app);

                } else {

                    $.each(list, function (i, val) {

                        app +='<div class="reviews">' 
                            +  '<div class="row" style="margin-bottom: 15px;">'
                            +    '<div class="col-xl-1" style = "padding-right: 15px;margin-right: -8px;" >'
                            +      '<a href="#"><i class="fa fa-user-circle-o" style="font-size: 40px;margin-top: 9px;"></i></a>'
                            +    '</div>'
                            +    '<div class="col">'
                            +      '<div style="margin-bottom: 5px;"><a href="#" style="margin-right: 15px;font-size: 14px;"><strong>'+val.nickName+'</strong></a><span style="margin-right: 15px;font-size: 14px;">'+timeForToday(val.cardRevDate)+'</span><a href="#" style="margin-right: 20px;color: rgb(99,99,99);font-size: 15px;">신고</a></div>'
                            +      '<div><span>'+val.cardRevContent+'</span></div>'
                            +    '</div>'
                            +  '</div>'
                            +'</div>'
                    });
                    $(".cardReview").append(app);
                }

            },
            error: function () {
                alert('error');
            }
        });
    };


    // 댓글 총 수 가져오기
    getCardReviewCount()
    function getCardReviewCount() {

        $.ajax({
            url: "http://192.168.0.231:3000/getCardReviewCount",
            type: "get",
            data: {
                "cardSeq": seq
            },
            success: function (totalCount) {
                console.log(totalCount);
                $('#showReviewCount').text('댓글 ' + totalCount);
                loadPage(totalCount);
            },
            error: function () {
                alert('getCardReviewCount() error');
            }
        });

    };


    // 댓글 페이징 처리
    function loadPage(totalCount) {

        let pageSize = 4;
        let nowPage = 1;
        let _totalPages = Math.floor(totalCount / pageSize);
        if (totalCount % pageSize > 0) {
            _totalPages++;
        }

        $("#pagination").twbsPagination('destroy');	// 데이터가 갱신되면 페이징 갱신


        $("#pagination").twbsPagination({
            //	startPage: 1,
            totalPages: _totalPages,
            visiblePages: 10,
            first: '<span aria-hidden="true">«</span>',
            prev: false,
            next: false,
            last: '<span aria-hidden="true">»</span>',
            initiateStartPageClick: false,		// onPageClick 자동 실행되지 않도록 한다
            onPageClick: function (event, page) {
                nowPage = page;
                getCardReviewList(page-1);
            },
        });

        //$("#pagination").twbsPagination('changeTotalPages', _totalPages, nowPage);

    };


    // 댓글 시간 나타내기
    function timeForToday(value) {
        const today = new Date();
        const timeValue = new Date(value);

        const betweenTime = Math.floor((today.getTime() - timeValue.getTime()) / 1000 / 60);
        if (betweenTime < 1) return '방금 전';
        if (betweenTime < 60) {
            return `${betweenTime}분 전`;
        }

        const betweenTimeHour = Math.floor(betweenTime / 60);
        if (betweenTimeHour < 24) {
            return `${betweenTimeHour}시간 전`;
        }

        const betweenTimeDay = Math.floor(betweenTime / 60 / 24);
        if (betweenTimeDay < 365) {
            return `${betweenTimeDay}일 전`;
        }

        return `${Math.floor(betweenTimeDay / 365)}년 전`;
    }






    </script>


</body>

</html>