<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>완벽한 자취생활, 완자 | 이벤트 상세 정보</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="shortcut icon" href="../../assets/img/wanza-Icon.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../../css/style.css">
    </head>
    <style>
    .eventdetail{
        width: 80%;
        height: 80%;

        object-fit: cover;
    }
    </style>





<body>
    <header include-html="../commons/header.html"></header>
    <nav include-html="../commons/menuComm.html"></nav>
    
    <div class="row" style="margin-top: 100px; margin-bottom: 70px;">

        <div class="col-xl-3"></div>

        <div class="col-xl-6">

            <div align='center'>
                <img class='eventdetail' src="../../assets/img/161733895461692149.jpg">
            </div>

            <div align='center'>
                <img class='eventdetail' src="../../assets/img/161733896409095039.jpg">
            </div>

            <div align='center'>
                <img class='eventdetail' src="../../assets/img/161733897226544577.jpg">
            </div>

            <div align='center'>
                <img class='eventdetail' src="../../assets/img/161733897611447480.jpg">
            </div>

            <div align='center'>
                <img class='eventdetail' src="../../assets/img/161733898400042825.jpg">
            </div>
        </div>

        <div class="col-xl-3"></div>
    </div>


    <footer include-html="../commons/footer.html"></footer>
</body>
<script src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../../js/includeHTML.js"></script>
<script src="../../js/header.js"></script>
</html>