<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="../../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/styles.min.css">
</head>

<body>
    <footer class="footer-dark" style="background: rgb(176,165,164);color: rgb(0,0,0);">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 col-xl-2 item">
                    <h3>INFORMATION</h3>
                    <ul>
                        <li style="font-size: 27px;">1588-1588</li>
                        <li style="color: rgb(71, 71, 71);"><br>OFF SAT SUN HOLIDAY<br>WEEKDAY 9:00_18:00<br></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 col-xl-2 item">
                    <h3>ACCOUNT NO</h3>
                    <ul style="font-size: 14px; color: rgb(70, 70, 70);">
                        <li>국민 : 123456-04-456789</li>
                        <li>우리 : 1005-879-123456</li>
                        <li>예금주 : 완자</li>
                    </ul>
                </div>
                <div class="col-md-6 col-xl-3 item text">
                    <h3 style="color: rgb(0,0,0);">RETURN ADDRESS</h3>
                    <p style="font-size: 13px;">서울 마포구 백범로 23 구프라자 3층</p>
                </div>
                <div class="col">
                    <h3 style="color: rgb(0,0,0);text-align: right;">COMPANY&nbsp; │&nbsp; AGREEMENT&nbsp; │&nbsp; PRIVACYPOLICY&nbsp; │&nbsp; GUIDE&nbsp;</h3>
                    <p style="font-size: 13px;text-align: right;color: rgb(98,95,95);">TEL : 070-1234-5678 CONTACT FOR MORE INFOMATION COMPANY: DECOLAB LICENSE: 123-45-12345 ONLINE SELLING LICENSE 2021-SEOUL MAPO-23WABMASTER: HONG GIL DONG OWNER: HONG GIL DONG E.MAIL: GILDONG@NAVER.COMCOPYRIGHT (C)WANZA ALL RIGHTS RESERVED MASTER@WANZA.COM<br><br></p>
                </div>
            </div>
            <p class="copyright">Company WANZA © 2021</p>
        </div>
    </footer>
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>