<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-2"><span
                class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse justify-content-center" id="navcol-2"
            style="border-bottom: 2px solid rgb(150,150,150);font-size: 13px;font-family: 'Noto Sans KR', sans-serif;">
            <ul class="navbar-nav" style="font-family: 'Noto Sans KR', sans-serif;font-size: 20px;color: rgb(0,0,0);">
                <li class="nav-item"><a class="nav-link" href="#"
                        style="color: rgb(0,0,0);font-size: 19px;margin-right: 20px;margin-left: 0;">홈</a></li>
                <li class="nav-item"><a class="nav-link" href="#"
                        style="color: rgb(0,0,0);font-size: 19px;margin-right: 20px;">인기상품</a></li>
                <li class="nav-item"><a class="nav-link" href="#" style="color: rgb(0,0,0);margin-right: 21px;">가구</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#"
                        style="color: rgb(0,0,0);font-size: 19px;margin-right: 20px;">조명</a></li>
                <li class="nav-item"><a class="nav-link" href="#"
                        style="border-bottom-color: rgb(0,0,0);background: #ffffff;color: rgb(0,0,0);margin-right: 20px;">홈데코</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#" style="color: rgb(0,0,0);margin-right: 20px;">패브릭</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#"
                        style="color: rgb(0,0,0);font-size: 19px;margin-right: 190px;">수납정리</a></li>
            </ul>
        </div>
    </div>
</nav>