<style>
/* 반응형 네비바 밑줄 */
@media (min-width: 767.98px) {
    .navbar-expand-md>.container-fluid{
        border-bottom: 2px solid rgb(150,150,150);
    }
}
#st .nav_a{
    /* min-width: 80px; */
    color: rgb(0,0,0);
    font-size: 18px;
    /* margin-right: 20px;
    margin-left: 0; */
}
#st .navbar-nav>li{
    margin-right: 20px;
}
/* #st .navbar-nav li:first-of-type a{
    min-width: 30px;
} */
.nav-item,
#st .container{
    position: relative;
}
#navcol-2 .nav-item:hover a{
    color: #f4744c;
    font-weight: bold;
}
#st .submenu_wrap{
    position: absolute;
    top: 40px; left: 0px;
    padding: 3px 0 0 0;
    z-index: 11;
    background-color: transparent;
    overflow: hidden;
    height: 0; width: 80px;
    opacity: 0;
    transition: height .3s, opacity .3s;
}
#navcol-2 .submenu_wrap:hover,
#navcol-2 .nav-item a:hover+.submenu_wrap{
    left: -5px;
    height:auto; width: auto;
    opacity: 1;
    transition: height .3s, opacity .3s;
}
#navcol-2 .submenu_wrap:hover .submenu_box,
#navcol-2 .nav-item a:hover+.submenu_wrap .submenu_box{
    margin: 4px;
}
#st .submenu_box{
    display: flex;
    margin: -4px 4px 4px 4px;
    padding: 0 10px;
    border: solid 1px #ededed;
    height: 100px;
    border-radius: 8px;
    background-color: rgb(255 255 255 / 96%);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
    z-index: 11;
    align-items: center;
    justify-content: space-evenly;
    transition: all .3s;
}
#st .submenu_box .figure{
    margin: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
}
#st .submenu_box .figure:hover .figure-caption{
    color: #f4744c;
    font-weight: 700;
}
#st .submenu_box .figure img{
    width: 55px;
    margin: 5px 10px;
}
#st .submenu_box .figure a:hover{
    text-decoration: none;
}
</style>

<nav id="st" class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid">
        <div class="container">

            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-2">
                <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
            </button>

            <!-- 네비바 -->
            <div class="collapse navbar-collapse" id="navcol-2" style="font-size: 13px;font-family: 'Noto Sans KR', sans-serif;">
                <ul class="navbar-nav" style="font-family: 'Noto Sans KR', sans-serif;font-size: 20px;color: rgb(0,0,0); margin-left: 20px;">
                    <li class="nav-item"><a class="nav-link nav_a" href="../../index.html">홈</a></li>
                    <li class="nav-item"><a class="nav-link nav_a" href="../store/mainStore.html?#today_hot">인기상품</a></li>
                    
                    <li class="nav-item">
                        <a class="nav-link nav_a down_list" href="../store/mainStore.html?category=가구">가구</a>
                        <div class="submenu_wrap d-md-block d-none">
                            <div class="submenu_box">
                                <figure class="figure"><a href="../store/mainStore.html?category=가구&subCategory=1" class="down_list"><img src="../../assets/img/침대.png"><figcaption class="figure-caption">침대/매트리스</figcaption></a></figure>
                                <figure class="figure"><a href="../store/mainStore.html?category=가구&subCategory=2" class="down_list"><img src="../../assets/img/소파.png"><figcaption class="figure-caption">소파</figcaption></a></figure>
                                <figure class="figure"><a href="../store/mainStore.html?category=가구&subCategory=3" class="down_list"><img src="../../assets/img/테이블.png"><figcaption class="figure-caption">테이블</figcaption></a></figure>
                                <figure class="figure"><a href="../store/mainStore.html?category=가구&subCategory=4" class="down_list"><img src="../../assets/img/거울.png"><figcaption class="figure-caption">화장대/거울</figcaption></a></figure>
                                <figure class="figure"><a href="../store/mainStore.html?category=가구&subCategory=5" class="down_list"><img src="../../assets/img/책장.png"><figcaption class="figure-caption">책상/책장</figcaption></a></figure>
                                <figure class="figure"><a href="../store/mainStore.html?category=가구&subCategory=6" class="down_list"><img src="../../assets/img/의자.png"><figcaption class="figure-caption">의자</figcaption></a></figure>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav_a down_list" href="../store/mainStore.html?category=조명">조명</a>
                        <div class="submenu_wrap d-md-block d-none">
                            <div class="submenu_box">
                                <figure class="figure"><a href="../store/mainStore.html?category=조명&subCategory=1" class="down_list"><img src="../../assets/img/LED등.png"><figcaption class="figure-caption">LED등</figcaption></a></figure>
                                <figure class="figure"><a href="../store/mainStore.html?category=조명&subCategory=2" class="down_list"><img src="../../assets/img/스탠드.png"><figcaption class="figure-caption">스탠드</figcaption></a></figure>
                                <figure class="figure"><a href="../store/mainStore.html?category=조명&subCategory=3" class="down_list"><img src="../../assets/img/무드등.png"><figcaption class="figure-caption">무드등</figcaption></a></figure>
                                <figure class="figure"><a href="../store/mainStore.html?category=조명&subCategory=4" class="down_list"><img src="../../assets/img/센서등.png"><figcaption class="figure-caption">센서등</figcaption></a></figure>
                                <figure class="figure"><a href="../store/mainStore.html?category=조명&subCategory=5" class="down_list"><img src="../../assets/img/형광등.png"><figcaption class="figure-caption">형광등</figcaption></a></figure>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_a down_list" href="../store/mainStore.html?category=홈데코">홈데코</a>
                        <div class="submenu_wrap d-md-block d-none">
                            <div class="submenu_box">
                                <figure class="figure"><a href="../store/mainStore.html?category=홈데코&subCategory=1" class="down_list"><img src="../../assets/img/식물.png"><figcaption class="figure-caption">플라워/식물</figcaption></a></figure>
                                <figure class="figure"><a href="../store/mainStore.html?category=홈데코&subCategory=2" class="down_list"><img src="../../assets/img/디퓨져.png"><figcaption class="figure-caption">캔들/디퓨져</figcaption></a></figure>
                                <figure class="figure"><a href="../store/mainStore.html?category=홈데코&subCategory=3" class="down_list"><img src="../../assets/img/데코.png"><figcaption class="figure-caption">시계</figcaption></a></figure>
                                <figure class="figure"><a href="../store/mainStore.html?category=홈데코&subCategory=4" class="down_list"><img src="../../assets/img/소품.png"><figcaption class="figure-caption">인테리어소품</figcaption></a></figure>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_a down_list" href="../store/mainStore.html?category=패브릭">패브릭</a>
                        <div class="submenu_wrap d-md-block d-none">
                            <div class="submenu_box">
                                <figure class="figure"><a href="../store/mainStore.html?category=패브릭&subCategory=1" class="down_list"><img src="../../assets/img/침구.png"><figcaption class="figure-caption">침구</figcaption></a></figure>
                                <figure class="figure"><a href="../store/mainStore.html?category=패브릭&subCategory=2" class="down_list"><img src="../../assets/img/커튼.png"><figcaption class="figure-caption">커튼/블라인드</figcaption></a></figure>
                                <figure class="figure"><a href="../store/mainStore.html?category=패브릭&subCategory=3" class="down_list"><img src="../../assets/img/러그.png"><figcaption class="figure-caption">카페트/러그</figcaption></a></figure>
                                <figure class="figure"><a href="../store/mainStore.html?category=패브릭&subCategory=4" class="down_list"><img src="../../assets/img/패브릭.png"><figcaption class="figure-caption">쿠션/방석</figcaption></a></figure>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_a down_list" href="../store/mainStore.html?category=수납정리">수납정리</a>
                        <div class="submenu_wrap d-md-block d-none">
                            <div class="submenu_box">
                                <figure class="figure"><a href="../store/mainStore.html?category=수납정리&subCategory=1" class="down_list"><img src="../../assets/img/서랍장.png"><figcaption class="figure-caption">서랍장</figcaption></a></figure>
                                <figure class="figure"><a href="../store/mainStore.html?category=수납정리&subCategory=2" class="down_list"><img src="../../assets/img/리빙박스.png"><figcaption class="figure-caption">리빙박스</figcaption></a></figure>
                                <figure class="figure"><a href="../store/mainStore.html?category=수납정리&subCategory=3" class="down_list"><img src="../../assets/img/바구니.png"><figcaption class="figure-caption">바구니</figcaption></a></figure>
                                <figure class="figure"><a href="../store/mainStore.html?category=수납정리&subCategory=4" class="down_list"><img src="../../assets/img/행거.png"><figcaption class="figure-caption">행거</figcaption></a></figure>
                                <figure class="figure"><a href="../store/mainStore.html?category=수납정리&subCategory=5" class="down_list"><img src="../../assets/img/선반.png"><figcaption class="figure-caption">선반</figcaption></a></figure>
                                <figure class="figure"><a href="../store/mainStore.html?category=수납정리&subCategory=6" class="down_list"><img src="../../assets/img/옷걸이.png"><figcaption class="figure-caption">옷걸이</figcaption></a></figure>
                                <figure class="figure"><a href="../store/mainStore.html?category=수납정리&subCategory=7" class="down_list"><img src="../../assets/img/현관.png"><figcaption class="figure-caption">현관/신발정리</figcaption></a></figure>
                            </div>
                        </div>
                    </li>
                </ul>
                
                <!-- 메뉴 호버 -->
                <!--
                <div class="submenu_wrap d-md-block d-none">
                    <div class="submenu_box">
                        <div class="row">
                            <figure class="figure">
                                <a href="#" class="down_list">
                                    <img src="../../assets/img/가구.png"><figcaption class="figure-caption"><strong>가구</strong></figcaption>
                                </a>
                            </figure>
                            <figure class="figure">
                                <a href="#" class="down_list">
                                    <img src="../../assets/img/조명.png"><figcaption class="figure-caption"><strong>조명</strong></figcaption>
                                </a>
                            </figure>
                            <figure class="figure">
                                <a href="#" class="down_list">
                                    <img src="../../assets/img/데코.png"><figcaption class="figure-caption"><strong>홈데코</strong></figcaption>
                                </a>
                            </figure>
                            <figure class="figure">
                                <a href="#" class="down_list">
                                    <img src="../../assets/img/패브릭.png"><figcaption class="figure-caption"><strong>패브릭</strong></figcaption>
                                </a>
                            </figure>
                            <figure class="figure">
                                <a href="#" class="down_list">
                                    <img src="../../assets/img/수납.png"><figcaption class="figure-caption"><strong>수납정리</strong></figcaption>
                                </a>
                            </figure>
                            
                        </div>
                    </div>
                </div>
                -->
                <!--메뉴 호버 끝-->
            </div> <!-- 네비바 끝 -->

        </div><!-- 컨테이너 끝 -->

    </div>
</nav>
