<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>완벽한 자취생활, 완자</title>

<link rel="shortcut icon" href="../../assets/img/wanza-Icon.ico" type="image/x-icon"> <!-- 브라우저 탭 아이콘 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!-- 폰트어썸아이콘 -->
<!-- <link rel="stylesheet" type="text/css" href="../../assets/bootstrap/css/bootstrap.min.css"> -->
<!-- 부트스트랩 -->
<link rel="stylesheet" type="text/css" href="../../css/style.css"> <!-- 공통-->

<style>
.search_head{
    margin: 60px 0;
}
.search_story_main{
    /* justify-content: center; */
}
.search_store,.search_story,.search_questions{
    min-height: 180px;
    border-top: solid 1px #dbdbdb;
}
.context_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}
.search_head span,
.context_head span{
    color: #f4744c;
}

#searchResult a:hover,
#searchResult a{
    color: #424242;
    text-decoration: none;
}
.queAns_box{
    display: flex;
    margin: 10px 0;
    padding: 15px 0;
    border-bottom: solid 1.5px #b3b3b3;
    color: #424242;
    font-size: 0.9em;
    font-weight: 500;
    align-items: center;
    justify-content: space-between;
}
.queAns_wrap{
    width: 80%;
}
.queAns_title{
    margin: 10px 0;
    font-size: 1.3em;
    font-weight: 900;
}
.queAns_content{
    max-height: 50px;
}
.queAns_footer{
    margin: 10px 0 0 0;
    font-size: 1em;
    font-weight: 500;
}
.queAns_footer span{
    margin: 0 15px 0 0;
    font-weight: 700;
}

.queAns_img_wrap{
    position: relative;
    margin: 0;
    height: 140px; width: 140px;
    border-radius: 4px;
    overflow: hidden;
}
.queAns_img_wrap img{
    height: 100%;
    width: 100%;
    margin: 0;
}
.queAns_blank{
    display: flex;
    margin: 20px 0;
    padding: 20px;
    height: 150px;
    justify-content: center;
    align-items: center;
    color: #424242;
    font-size: 1em;
    font-weight: 600;
}






</style>

</head>
<body>
    <header include-html="../commons/header.html"></header>
    <nav include-html="../commons/menuComm.html"></nav>


<div class="container mb-5" id="searchResult">
    <div class="search_head">
        <h5><strong>'<span></span>'에 대한 통합검색 결과 <span></span>개</strong></h5>
    </div>

    <div class="search_store py-5 pl-4">
        <div class="context_head">
            <div><h4><strong>스토어 <span></span></strong></h4></div>
            <div><a href="../store/mainStore.html">더보기 <i class="fas fa-caret-right"></i></a></div>
        </div>
        <div class="row search_store_main my-5"></div>
    </div>

    <div class="search_story py-5 pl-4">
        <div class="context_head">
            <div><h4><strong>스토리 <span></span></strong></h4></div>
            <div><a href="../community/story.html">더보기 <i class="fas fa-caret-right"></i></a></div>
        </div>
        <div class="row search_story_main my-5 pl-2"></div>
    </div>

    <div class="search_questions py-5 pl-4">
        <div class="context_head">
            <div><h4><strong>질문과 답변 <span></span></strong></h4></div>
            <div><a href="../community/questions.html">더보기 <i class="fas fa-caret-right"></i></a></div>
        </div>
        <div class="search_question_main my-3 mx-0 px-3"></div>
    </div>
    
</div>


    <footer include-html="../commons/footer.html"></footer>

</body>

<script src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../../js/includeHTML.js"></script>
<script src="../../js/header.js"></script>
<script src="../../js/slang.js"></script>

<script>
$(document).ready(function() {
    const searchWord = getParameter('searchWord');
    getTotalSearch(searchWord); 
});

// 검색 리스트 출력
function getTotalSearch(word) {
    $.ajax({
        url: "http://localhost:3000/getTotalSearch",
        type: "post",
        data: {searchWord:word},
        success: function (map) {
            let storeNum = Object.keys(map.store).length
            let storyNum = Object.keys(map.story).length
            let questionNum = Object.keys(map.question).length
            setDisplySearch(word,storeNum,storyNum,questionNum); //검색갯수, 단어 화면 표시

            let storeApp='', storyApp='', questionApp='';
            $(".search_store_main, search_story_main, search_question_main").html(''); //초기화
            $(".search_store a").attr('href','../store/mainStore.html?searchWord='+word)
            $(".search_story a").attr('href','../community/story.html?searchWord='+word)
            $(".search_questions a").attr('href','../community/questions.html?searchWord='+word)
            
            // 상품 검색 결과
            if (storeNum == 0) {
                storeApp += '<div style="width: 100%;text-align: center;">'
                        +  '<h3 style="font-size: 15px; margin-top: 10px;"><b>게시글이 없습니다.</b></h3>'
                        +  '</div>';
            } else {
                $.each(map.store, function (i, val) {
                    if(i>5){return false}
                    storeApp += '<div style="width: 350px; height: 400px; margin: 3px;">'
                            +  '<article article class="project2_wrap" >'
                            +  '<a href="../store/storeDetail.html?seq=' + val.productSeq + '"></a>'
                            +  '<div class="project2_item">'
                            +  '<span></span>'
                            +  '<img src="http://localhost:3000/upload/' + val.productFileName + '" alt="">'
                            +  '</div>'
                            +  '<div class="row" style="margin:0px 40px; margin-top: 15px;margin-bottom: 10px;"><h3 style="font-family: \'Noto Sans KR\'; font-size: 17px; height: 32px;float: none; margin:0 auto;">';
                            
                            if(val.productName.length > 48) {
                                storeApp += val.productName.substr(0,48)+'...';
                            } else {
                                storeApp += val.productName;
                            }     
                    
                    storeApp += '</h3></div><div class="row">';
                    if(val.productDiscount != 0) {
                        storeApp += '<p style="float: none; margin:0 auto;"><span style="font-family: \'Noto Sans KR\';font-size: 15px; color:gray;"><del>'+makeComma(val.productPrice)+'원</del>&nbsp;&nbsp;</span><span style="font-family: \'Noto Sans KR\';font-size: 17px;"><b>' + makeComma(val.productDiscount) + ' 원</b>&nbsp;&nbsp;</span>'
                                +  '<span style="font-family: \'Noto Sans KR\';font-size: 17px;color:rgb(244,116,76)"><b>'+discountRate(val.productPrice, val.productDiscount) + '%</b></span></p>';
                    } else {
                        storeApp += '<p style="float: none; margin:0 auto;"><span style="font-family: \'Noto Sans KR\';font-size: 17px;"><b>' + makeComma(val.productPrice) + ' 원</b></span></p>';
                    }
                    storeApp += '</div><div style="font-family: \'Noto Sans KR\'; font-size: 14px;margin-top: 7px;"><i class="fa fa-star" style="font-size: 17px;color: rgb(244,116,76);margin-left: 2px;"></i> ' + val.productRating + '&ensp;│&ensp;<b>리뷰 </b>' + val.reviewCount + '</div>'
                            +  '</article>'
                            +  '</div >';
                });
            }
            
            // 스토리 검색 결과
            if (storyNum == 0) {
                storyApp += '<div style="width: 100%;text-align: center;">'
                        +  '<h3 style="font-size: 15px; margin-top: 10px;"><b>게시글이 없습니다.</b></h3>'
                        +  '</div>';
            } else {
                $.each(map.story, function (i, val) {
                    if(i>5){return false}
                    storyApp += '<div style="width: 320px; margin-left: 40px;">'
                            +   '<article article class="project_wrap" >'
                            +    '<a href="../storyDetail.html?seq='+val.cardSeq+'"></a>'
                            +     '<div class="project_item">'
                            +      '<span></span>'
                            +      '<img src="http://localhost:3000/upload/'+val.cardFileName+'" alt="">'
                            +     '</div>'
                            +     '<h3 style="font-family: \'Noto Sans KR\'; font-size: 16px; margin-top: 15px; height: 32px;"><b>'+val.cardTitle+'</b></h3>'
                            +     '<span style="font-family: \'Noto Sans KR\';font-size: 13px;"><b>'+val.nickName+'</b></span>'
                            +    '<div style="font-family: \'Noto Sans KR\'; font-size: 13px;margin-top: 5px;"><i class="fa fa-heart" style="font-size: 13px;color: rgb(244,116,76);margin-left: 2px;"></i> '+val.likeCount+'&ensp;│&ensp;<b>조회</b> '+val.cardReadCount+'</div>'
                            +   '</article>'
                            +  '</div >'
                });
            }
            
            // 질문답변 검색 결과
            if (questionNum == 0) {
                questionApp += '<div style="width: 100%;text-align: center;">'
                            +  '<h3 style="font-size: 15px; margin-top: 10px;"><b>게시글이 없습니다.</b></h3>'
                            +  '</div>';
            } else {
                console.log(map.question)
                $.each(map.question, function (i, val) {
                    questionApp += '<div class="queAns_box">'
                                +  '<div class="queAns_wrap">'
                                +  '<a href="../community/questionDetail.html?seq='+val.questionSeq+'">'
                                +  '<div class="queAns_title">'+val.questionTitle+'</div>'
                                +  '<div class="queAns_content">'+decodeHtmlEntity(val.questionContent)+'</div></a>'
                                +  '<div class="queAns_footer">'
                                +  '작성자<span> '+val.nickName+'</span>작성일<span> '+timeForToday(val.questionRegDate)+'</span>'
                                +  '댓글수<span> '+val.comentCount+'</span>조회수<span> '+val.questionReadcount+'</span>'
                                +  '</div></div><div class="queAns_img_wrap">'
                                +  '<a href="../community/questionDetail.html?seq='+val.questionSeq+'">'
                                +  '<img src="http://localhost:3000/upload/'+val.profileName+'" onerror="src=\'../../assets/img/완자에요.png\'">'
                                +  '</a></div></div>';
                });
            }

            $(".search_store_main").append(storeApp);
            $(".search_story_main").append(storyApp);
            $(".search_question_main").append(questionApp);
        },
        error: function () { console.log('error'); }
    });
};

//검색단어랑 수 셋팅
function setDisplySearch(word,storeCount,storyCount,questionCount) {
    $('.search_head span:first').html(word);
    $('.search_head span:last').html(storeCount+storyCount+questionCount);
    $('.search_store span').html(storeCount);
    $('.search_story span').html(storyCount);
    $('.search_questions span:eq(0)').html(questionCount);
}

// 금액 콤마 삽입 정규식
function makeComma(str) {
    str = String(str);
    return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
};

//할인 퍼센테이지 계산
function discountRate(price, discount) {
    return Math.ceil(100- (discount/price*100));
};

//파라미터값 가져오도록 하는 함수
function getParameter(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}

// 댓글 시간 나타내기
function timeForToday(value) {
    const today = new Date();
    const timeValue = new Date(value);
    
    const betweenTime = Math.floor((today.getTime() - timeValue.getTime()) / 1000 / 60);
    if (betweenTime < 1) return '방금 전';
    if (betweenTime < 60) {
        return `${betweenTime}분 전`;
    }

    const betweenTimeHour = Math.floor(betweenTime / 60);
    if (betweenTimeHour < 24) {
        return `${betweenTimeHour}시간 전`;
    }

    const betweenTimeDay = Math.floor(betweenTime / 60 / 24);
    if (betweenTimeDay < 365) {
        return `${betweenTimeDay}일 전`;
    }

    return `${Math.floor(betweenTimeDay / 365)}년 전`;
}
//엔티티코드 다시 돌려놓기
function decodeHtmlEntity(str){ 
  let textarea = document.createElement("textarea");  
  textarea.innerHTML = str;
  let result = textarea.value;
  textarea.remove();
  //textarea.parentNode.removeChild(textarea); 
  return result;
}
</script>
