<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>완벽한 자취생활, 완자 | 이벤트 상세 정보</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="shortcut icon" href="../../assets/img/wanza-Icon.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../../css/style.css">
    </head>
    <style>
    .my-hr3 {
        border: 0;
        height: 2px;
        margin: 3px;

        background: #ffc8b5;
    }
    body{
        color: #ff0000;
    }

 

    





    </style>
<body>
    <header include-html="../commons/header.html"></header>
    <nav include-html="../commons/menuComm.html"></nav>

<div class="row" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="col-xl-3"></div> 

    <div class="col-xl-6">
        <div>
            <h1 align='center'><strong>결제 완료</strong></h1>
            <br>
            <h4 align='center' style="margin-bottom: 50px;">결제가 완료 되었습니다</h4>
        </div>  

        <div class='row'>
            <h3 style="margin-left: 10px;"><strong>주문상품</strong></h3>
        </div>
        <hr class="my-hr3">

        <div class='row' style="margin-top: 20px; margin-bottom: 20px; margin-left: 1px;">
            <div class='col-xl-3' >
                <img src="../../assets/img/KakaoTalk_20210506_154158314.jpg" width="180px" height="180px">
            </div>

            <div class='col-xl-4' style="margin-top: 4%;">
                <div >
                    <table>
                        <tr>
                            <td style="font-size: 20px;">리샘가구</td>
                        </tr>
                        <tr>
                            <td style="font-size: 25px;">OFFICY 서랍장 4.1단</td>
                        </tr>
                        <tr>
                            <td style="color: #999797e8;">색상 월넛</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class='col-xl-2'  style="margin-top: 7.5%;">               
                <p style="font-size: 25px;">3개</p>                           
            </div>
            <div class='col-xl-3'  style="margin-top: 7.5%;">               
                   <p style="font-size: 25px;">36,800원</p>              
            </div>
        </div>
        <hr class="my-hr3">
        <div style="height: 80px; background-color: #ffd8ca; margin-left: 4px; margin-right: 5px;" >
            <p style="font-size: 15px; text-align: right; padding-top: 3%; padding-right: 5%;">상품 금액 38,900원 + 배송비 2,500원 = <strong style="font-size: 20px;">주문금액 41,400원</strong></p> 
        </div>
        <hr class="my-hr3">
        <div class='row' style="margin-top:100px;">
            <h3 style="margin-left: 10px;"><strong>배송지</strong></h3>
        </div>
        <hr class="my-hr3">
        <div align='center' style="margin: 5%;">
            <table style="color: rgb(46, 46, 46); border-spacing:0 10px; border-collapse: separate; ">
                <colgroup>
                    <col width='100px'><col width='400px'>
                </colgroup>
                <tr>
                    <th>배송지명</th>
                    <td>내집</td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td>뭐 경기도 부천시 오정구 원종동 뭐 어쩌구 끝났네 이러쿵 저러쿵</td>
                </tr>
                <tr>
                    <th>받는분</th>
                    <td>매미킴</td>
                </tr>
                <tr>
                    <th>연락처</th>
                    <td>010-0070-0070</td>
                </tr>
                <tr>
                    <th>요청사항</th>
                    <td>집에 갓난아기가 있으니까 초인종 누르지마시고 현관 앞에 놔주시구요, 부재시 경비실에 맡겨주세요.
                         아 그리고 놓고 가실 때 현관앞에 있는 재활용 쓰레기좀 버려주셈 </td>
                </tr>
            </table>
        </div>

        <hr class="my-hr3">

        <div align='center' style="margin-top: 30px;">
            <a href=# style="color: #f4744c;"><h5>홈으로 가기</h5></a>

        </div>
        











    </div>





    <div class="col-xl-3"></div>
</div>
    <footer include-html="../commons/footer.html"></footer>
</body>
<script src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../../js/includeHTML.js"></script>
<script src="../../js/header.js"></script>
</html>