<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="../../assets/img/wanza-Icon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <title>완벽한 자취생활, 완자</title>
    <style>
        #sidebox {
            background-color:#ffffff00;
            position: relative;
            width:80%;
            top:450px;
            right:35px;
            padding:1px 5px;
        }
        .star-rating {
            width:100px; 
        }
        .star-rating,.star-rating span { 
            display:inline-block; 
            height:18px; 
            overflow:hidden; 
            background:url(../../assets/img/star.png)no-repeat; 
            background-size: 100px;
        }
        .star-rating span{ 
            background-position:left bottom; 
            line-height:0; 
            vertical-align:top; 
        }
        .jbFixed {
            position: fixed;
            top: 0px;
            background-color: white;
        }
    </style>
</head>
<body>
    <header include-html="../commons/header.html"></header>
    <nav include-html="../commons/menuStore.html"></nav>
    



    <div class="row">
        <div class="col-md-1 invisible"></div>
        <div class="col-md-8">
            <ol class="breadcrumb mx-auto" style="background: rgb(255,255,255);width: 800px;margin: 15px;margin-left: 0px;">
                <li class="breadcrumb-item"><a href="#"><span style="color: rgb(105,105,105);">Home</span></a></li>
                <li class="breadcrumb-item"><a href="#"><span style="color: rgb(100,100,100);">가구</span></a></li>
                <li class="breadcrumb-item"><a href="#"><span style="color: rgb(100,100,100);">책상/책장</span></a></li>
            </ol>
            
        </div>
    </div>
    <div class="row" style="width: 1050px;margin: 0 auto;margin-top: 0px;">
        <div class="col" style="width: 1118px;">
            <div style="position: relative;padding-top: 100%; width: 630px; height: 630px; overflow: hidden;">
                <div style="position: absolute;top: 0;left: 0;right: 0;bottom: 0;transform: translate(50%, 50%);">
                    <img id="mainImg" style="height: 100%;transform: translate(-50%, -50%);">
                </div>
            </div>            
        </div>
        <div class="col" style="width: 400px;">
            <div class="row">
                <div class="col"
                    style="margin: 17px 0px 0px 16px;margin-left: 16px;font-family: 'Noto Sans KR', sans-serif;height: 128px;width: 250px;margin-top: 14px;border-bottom: 1px none rgb(99,99,99) ;">
                    <h5 id="maker" style="font-size: 15px;margin-top: 10px;margin-left: 10px;"><!--제품회사이름--></h5>
                    <h1 id="title" style="font-size: 30px;margin: 10px;"><!--제목--></h1>
                    <div style="margin: 10px;">
                        <!-- <i class="fa fa-star" style="font-size: 18px;color: rgb(244,116,76);margin-left: 2px;"></i> -->
                        <span class="star-rating">
                            <span id="starRating"></span>
                        </span>
                        <span id="rating" style="font-size: 20px;margin-left: 14px;"><!--별점-->></span>
                        <span style="margin-left: 20px;font-size: 14px;color: rgb(99,99,99);">후기 145</span>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 25px;">
                <div class="col">
                    <div style="border-bottom: 1px solid rgb(99,99,99);height: 70px; margin-left: 20px;font-family: 'Noto Sans KR', sans-serif;text-align: left;">
                        <span style="margin: 10px;font-size: 17px;width: auto;color: rgb(99,99,99);margin-top: 10px;padding: 0px;padding-top: 0px;">
                            <span id="costPrice" style="text-decoration: line-through;"><!--정가--></span>
                            <span id="sellPrice" style="margin: 10px;font-size: 27px;margin-left: 17px;color: rgb(0,0,0);margin-top: 10px;padding: 0px;padding-top: 0px;">
                                <strong id="discountPrice"><!--판매가--></strong>원
                            </span>
                        </span>
                        <span style="margin: 10px;font-size: 24px;margin-left: 0px;color: rgb(244,116,76);margin-top: 10px;padding: 0px;padding-top: 0px;">
                        <strong id="discountRate"><!--할인율--></strong></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col"
                    style="height: 31px;margin: 0px;margin-top: 15px;font-family: 'Noto Sans KR', sans-serif;padding-left: 25px;">
                    <span style="margin: 15px;color: rgb(101,101,101);"><strong>회원적립</strong></span><span
                        style="margin: 15px;"><strong id="point">267</strong>P<strong> </strong>적립</span></div>
            </div>
            <div class="row">
                <div class="col"
                    style="margin-top: 10px;margin-bottom: 15px;font-family: 'Noto Sans KR', sans-serif;padding-left: 25px;">
                    <span style="margin: 15px;color: rgb(101,101,101);"><strong>배송비</strong></span><span
                        style="margin: 15px;margin-left: 30px;color: rgb(99,99,99);font-family: 'Noto Sans KR', sans-serif;">2,500원
                        (5만원 이상 무료)</span></div>
            </div>
            <div class="row" style="margin-left: 10px;"><span
                    style="margin: 15px;color: rgb(101,101,101);margin-left: 15px;font-family: 'Noto Sans KR', sans-serif;"><strong id="selectKey">색상</strong></span>
                <div class="col">
                    <select id="selectItem" name="selectItem" class="shadow-sm custom-select custom-select-sm"
                        style="margin-top: 12px;width: 135.547px;text-align: left;margin-left: 25px;">
                        <option value="월넛">월넛</option>
                        <option value="오크">오크</option>
                        <option value="고무나무">고무나무</option>
                    </select></div>
            </div>
            <div class="row"
                style="margin-left: 10px;border-bottom: 1px solid rgb(99,99,99);padding-bottom: 13px;width: 355px;"><span
                    style="margin: 15px;color: rgb(101,101,101);font-family: 'Noto Sans KR', sans-serif;"><strong>개수</strong></span>
                <div class="col">
                    <input id="itemCount" class="border rounded-0 form-control-sm" type="number" min="1" max="10" placeholder="1" value="1" style="margin-top: 12px;height: 33px;width: 88px;margin-left: 25px;">
                </div>
            </div>
            <div class="row" style="margin-top: 26px;">
                <div class="col" style="margin-top: 16px;margin-left: 17px;margin-bottom: 40px;"><span
                        style="font-size: 20px;font-family: 'Noto Sans KR', sans-serif;margin-left: 20px;"><strong>총
                            상품금액</strong></span><span
                        style="font-size: 25px;font-family: 'Noto Sans KR', sans-serif;margin-left: 82px;"><strong id="totalPrice"><!-- 총액 표시 --></strong></span>
                </div>
            </div>
            <div class="row">
                <div class="col" style="margin-top: 23px;">
                    <button id="cartBtn" class="btn btn-lg" onclick="addCart()" type="button" data-container="body" data-toggle="popover" data-placement="top" data-content="장바구니에 담았습니다."
                        style="width: 161.375px;height: 48px;margin-left: 8px;border-color: rgb(244,116,76);border-bottom-color: rgb(244,116,76);font-family: 'Noto Sans KR', sans-serif;color: rgb(244,116,76);font-size: 18px;">장바구니</button>
                    <button class="btn btn-lg" type="button"
                    style="width: 161.375px;height: 48px;margin-left: 8px;background: rgb(244,116,76);font-family: 'Noto Sans KR', sans-serif;color: rgb(255,255,255);font-size: 18px;" onclick="directPurchase()">바로구매</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="width: 1200px; margin-top: 50px;">
        <div class="row" style="width: 1200px;">
            <div class="col-md-8" style="position: relative;">
                <div>
                    <ul id="miniMenu" class="nav nav-tabs" style="margin-bottom: 50px;z-index: 2;">
                        <li class="nav-item">
                            <div id="contentBtn" class="nav-link active" style="cursor: pointer; font-family: 'Noto Sans KR', sans-serif;width: 150px;text-align: center;border-top-style: none;border-right-style: none;border-bottom-width: 3px;border-bottom-color: rgb(244,116,76);border-left-style: none;">
                                상품정보</div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link" id="reviewBtn" style="cursor: pointer; color: rgb(101,101,101);font-family: 'Noto Sans KR', sans-serif;width: 150px;text-align: center;border-top-style: none;border-right-style: none;border-left-style: none;">
                                후기 145</div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link" id="questionBtn" style="cursor: pointer; color: rgb(99,99,99);font-family: 'Noto Sans KR', sans-serif;width: 150px;text-align: center;border-top-style: none;border-right-style: none;border-left-style: none;">
                                문의 2</div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link" id="deliveryBtn" style="cursor: pointer; color: rgb(99,99,99);font-family: 'Noto Sans KR', sans-serif;width: 150px;text-align: center;border-top-style: none;border-right-style: none;border-left-style: none;">
                                배송/환불</div>
                        </li>
                    </ul>
                </div>

                <div id="content">
                    <!-- 상품 내용 (썸머노트) 뿌려주는 곳 -->
                </div>

                <div id="review" class="row" style="margin-top: 70px; margin-bottom: 5px;">
                    <div class="col">
                        <h4><strong>후기</strong><span style="margin-left: 10px;color: rgb(119,119,119);">23</span></h4>
                    </div>
                    <div class="col-xl-3"><button class="btn btn-primary" type="button"
                            style="width: 120px;color: rgb(244,116,76);background: rgb(255,255,255);margin-left: 45px;border-width: 1px;border-color: rgb(244,116,76);font-size: 15px;"><strong>후기</strong>
                            <strong>작성</strong></button></div>
                </div>
                <div class="row">
                    <div class="col">
                        <p style="font-size: 14px;">상품 구매 후, 후기 작성 시 포인트를 드립니다. (일반 후기 : 50P / 사진 후기 : 150P)</p>
                    </div>
                </div>
                <div class="row" style="background: rgb(232,232,232);padding-top: 15px;padding-bottom: 15px;">
                    <div class="col-xl-5">
                        <div class="row">
                            <div class="col-xl-12" style="text-align: center;margin-top: 16px;">
                                <h1>4.4 / 5</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: center;"><i class="fa fa-star"
                                    style="color: rgb(244,116,76);font-size: 26px;"></i><i class="fa fa-star"
                                    style="color: rgb(244,116,76);font-size: 26px;"></i><i class="fa fa-star"
                                    style="color: rgb(244,116,76);font-size: 26px;"></i><i class="fa fa-star"
                                    style="color: rgb(244,116,76);font-size: 26px;"></i><i class="fa fa-star"
                                    style="color: rgb(244,116,76);font-size: 26px;"></i></div>
                        </div>
                    </div>
                    <div class="col-xl-7">



                        <div class="row">
                            <div class="col-xl-2" style="text-align: right;"><span
                                    style="font-size: 12px;color: rgb(130,130,130);"><strong>5점</strong></span></div>
                            <div class="col-xl-7">
                                <div class="progress border rounded-0 border-primary"
                                    style="height: 6px;width: 221px;margin: 0px;margin-top: 10px;color: var(--red);background: var(--white);">
                                    <div class="progress-bar progress-bar-animated" aria-valuenow="83" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 83%;"><span class="sr-only">83%</span></div>
                                </div>
                            </div>
                            <div class="col-xl-2" style="text-align: left;"><span
                                    style="font-size: 11px;color: rgb(130,130,130);"><strong>63명</strong></span></div>
                        </div>



                        <div class="row">
                            <div class="col-xl-2" style="text-align: right;"><span
                                    style="font-size: 12px;color: rgb(130,130,130);"><strong>4점</strong></span></div>
                            <div class="col-xl-7">
                                <div class="progress border rounded-0 border-primary"
                                    style="height: 6px;width: 221px;margin: 0px;margin-top: 10px;color: var(--red);background: var(--white);">
                                    <div class="progress-bar progress-bar-animated" aria-valuenow="15" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 15%;"><span class="sr-only">15%</span></div>
                                </div>
                            </div>
                            <div class="col-xl-2" style="text-align: left;"><span
                                    style="font-size: 11px;color: rgb(130,130,130);"><strong>8명</strong></span></div>
                        </div>
                        <div class="row">
                            <div class="col-xl-2" style="text-align: right;"><span
                                    style="font-size: 12px;color: rgb(130,130,130);"><strong>3점</strong></span></div>
                            <div class="col-xl-7">
                                <div class="progress border rounded-0 border-primary"
                                    style="height: 6px;width: 221px;margin: 0px;margin-top: 10px;color: var(--red);background: var(--white);">
                                    <div class="progress-bar progress-bar-animated" aria-valuenow="10" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 10%;"><span class="sr-only">10%</span></div>
                                </div>
                            </div>
                            <div class="col-xl-2" style="text-align: left;"><span
                                    style="font-size: 11px;color: rgb(130,130,130);"><strong>5명</strong></span></div>
                        </div>
                        <div class="row">
                            <div class="col-xl-2" style="text-align: right;"><span
                                    style="font-size: 12px;color: rgb(130,130,130);"><strong>2점</strong></span></div>
                            <div class="col-xl-7">
                                <div class="progress border rounded-0 border-primary"
                                    style="height: 6px;width: 221px;margin: 0px;margin-top: 10px;color: var(--red);background: var(--white);">
                                    <div class="progress-bar progress-bar-animated" aria-valuenow="5" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 5%;"><span class="sr-only">5%</span></div>
                                </div>
                            </div>
                            <div class="col-xl-2" style="text-align: left;"><span
                                    style="font-size: 11px;color: rgb(130,130,130);"><strong>2명</strong></span></div>
                        </div>
                        <div class="row">
                            <div class="col-xl-2" style="text-align: right;"><span
                                    style="font-size: 12px;color: rgb(130,130,130);"><strong>1점</strong></span></div>
                            <div class="col-xl-7">
                                <div class="progress border rounded-0 border-primary"
                                    style="height: 6px;width: 221px;margin: 0px;margin-top: 10px;color: var(--red);background: var(--white);">
                                    <div class="progress-bar progress-bar-animated" aria-valuenow="2" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 2%;"><span class="sr-only">2%</span></div>
                                </div>
                            </div>
                            <div class="col-xl-2" style="text-align: left;"><span
                                    style="font-size: 11px;color: rgb(130,130,130);"><strong>1명</strong></span></div>
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 80px;">
                    <div class="col" style="text-align: right;padding-top: 15px;border-bottom: 1px solid rgb(99,99,99);height: 70px;">
                        <div class="dropdown"><button class="btn dropdown-toggle" aria-expanded="false" data-toggle="dropdown"
                                type="button">별점&nbsp;</button>
                            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item"
                                    href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                        </div>
                    </div>
                </div>
                <div class="row"
                    style="padding-top: 10px;padding-left: 0px;padding-bottom: 20px;border-bottom: 1px solid rgb(150,150,150) ;">
                    <div class="col">
                        <div class="row">
                            <div class="col"><span style="font-size: 17px;">★★★★★</span><span
                                    style="margin-left: 10px;font-size: 15px;">nickname01</span><span
                                    style="margin-left: 5px;">&nbsp;·&nbsp;</span><span
                                    style="margin-left: 10px;font-size: 13px;">2021.01.01</span></div>
                        </div>
                        <div class="row">
                            <div class="col"><span style="font-size: 14px;"><br>우리집 고영희가 좋아해요. 그럼 다 된거에요. 이만한 가성비 오지는 제품이 없습니다. 판매자님 많이
                                    팔아 부자되시고 건강하십시오.<br><br></span></div>
                        </div>
                        <div class="row">
                            <div class="col"><img src="../../assets/img/1582386824.jpg" width="130px" style="border-radius: 10px;"></div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 15px;">
                    <div class="col offset-xl-4">
                        <nav>
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span
                                            aria-hidden="true">«</span></a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span
                                            aria-hidden="true">»</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div id="question" class="row"
                    style="padding-top: 20px;padding-bottom: 20px;border-bottom: 1px solid rgb(101,101,101);margin-top: 70px;">
                    <div class="col">
                        <h4><strong>문의</strong><span style="margin-left: 10px;color: rgb(119,119,119);">23</span></h4>
                    </div>
                    <div class="col-xl-3"><button class="btn btn-primary" type="button"
                            style="width: 120px;color: rgb(244,116,76);background: rgb(255,255,255);margin-left: 45px;border-width: 1px;border-color: rgb(244,116,76);font-size: 15px;"><strong>문의하기</strong><br></button>
                    </div>
                </div>

                <div class="row" style="padding-top: 20px;padding-bottom: 20px;">
                    <div class="col">

                        <div class="row">
                            <div class="col"><span
                                    style="font-size: 13px;color: rgb(244,116,76);"><strong>답변완료</strong></span><span>&nbsp;
                                    │&nbsp;&nbsp;</span><span style="font-size: 14px;">nickname01</span><span>&nbsp;
                                    ·&nbsp;&nbsp;</span><span style="font-size: 12px;">1분 전</span></div>
                        </div>

                        <div class="row" style="border-bottom: 1px solid rgb(180,180,180) ;">
                            <div class="col">
                                <div class="row">
                                    <div class="col-lg-10"><span style="font-size: 15px;"><br>안녕하세여! 혹시 주문후 배송일이 얼마나 걸릴까요?<br></span>
                                    </div>
                                    <div class="col-lg-2 col-xl-2 text-center">
                                        <div><a class="btn" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-1"
                                                href="#collapse-1" role="button"
                                                style="margin-top: 10px;font-size: 20px;"><strong>∨</strong></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="background-color: #e6e6e6; margin-top: 10px; border-radius: 10px;">
                                    <div class="col-lg-10">
                                        <div class="collapse" id="collapse-1">
                                            <p style="margin-top: 10px; color: grey;">└ 답변</p>
                                            <p style="margin-top: 5px; margin-left: 20px;">안녕하세요 고객님. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                                                anim keffiyeh
                                                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding-top: 15px;">
                            <div class="col offset-xl-4">
                                <nav>
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span
                                                    aria-hidden="true">«</span></a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span
                                                    aria-hidden="true">»</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="delivery" class="row"
                    style="padding-top: 20px;padding-bottom: 20px;border-bottom: 1px solid rgb(101,101,101);margin-top: 70px;">
                    <div class="col">
                        <h4><strong>배송/환불</strong></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row" style="margin-top: 20px;">
                            <div class="col" style="border-bottom-width: 1px;border-bottom-style: solid;">
                                <h5>배송</h5>
                            </div>
                        </div>
                        <div class="row" style="border-bottom: 1px solid rgb(170,170,170);">
                            <div class="col-xl-3" style="background: #e6e6e6;padding-top: 5px;padding-bottom: 5px;"><span
                                    style="font-size: 14px;color: rgb(99,99,99);"><strong>배송</strong></span></div>
                            <div class="col" style="padding-top: 5px;padding-bottom: 5px;"><span style="font-size: 14px;">일반택배</span>
                            </div>
                        </div>
                        <div class="row" style="border-bottom: 1px solid rgb(170,170,170);">
                            <div class="col-xl-3" style="background: #e6e6e6;padding-top: 5px;padding-bottom: 5px;"><span
                                    style="font-size: 14px;color: rgb(99,99,99);"><strong>배송비</strong><br></span></div>
                            <div class="col" style="padding-top: 5px;padding-bottom: 5px;"><span style="font-size: 14px;">2,500원 (5만원 이상
                                    무료배송)</span></div>
                        </div>
                        <div class="row" style="border-bottom: 1px solid rgb(170,170,170);">
                            <div class="col-xl-3" style="background: #e6e6e6;padding-top: 5px;padding-bottom: 5px;"><span
                                    style="font-size: 14px;color: rgb(99,99,99);"><strong>도서산간 추가 배송비</strong></span></div>
                            <div class="col" style="padding-top: 5px;padding-bottom: 5px;"><span style="font-size: 14px;">3,000원</span>
                            </div>
                        </div>
                        <div class="row" style="border-bottom: 1px solid rgb(170,170,170);">
                            <div class="col-xl-3" style="background: #e6e6e6;padding-top: 5px;padding-bottom: 5px;"><span
                                    style="font-size: 14px;color: rgb(99,99,99);"><strong>배송불가 지역</strong></span></div>
                            <div class="col" style="padding-top: 5px;padding-bottom: 5px;"><span style="font-size: 14px;">배송불가 지역이
                                    없습니다.</span></div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px; margin-bottom: 100px;">
                    <div class="col">
                        <div class="row" style="margin-top: 20px;">
                            <div class="col" style="border-bottom-width: 1px;border-bottom-style: solid;">
                                <h5>환불</h5>
                            </div>
                        </div>
                        <div class="row" style="border-bottom: 1px solid rgb(170,170,170);">
                            <div class="col-xl-3" style="background: #e6e6e6;padding-top: 5px;padding-bottom: 5px;"><span
                                    style="font-size: 14px;color: rgb(99,99,99);"><strong>반품배송비</strong></span></div>
                            <div class="col" style="padding-top: 5px;padding-bottom: 5px;"><span style="font-size: 14px;">3,000원 (최초
                                    배송비가 무료인 경우 6,000원 부과)</span></div>
                        </div>
                        <div class="row" style="border-bottom: 1px solid rgb(170,170,170);">
                            <div class="col-xl-3" style="background: #e6e6e6;padding-top: 5px;padding-bottom: 5px;"><span
                                    style="font-size: 14px;color: rgb(99,99,99);"><strong>교환배송비</strong></span></div>
                            <div class="col" style="padding-top: 5px;padding-bottom: 5px;"><span style="font-size: 14px;">6,000원</span>
                            </div>
                        </div>
                        <div class="row" style="border-bottom: 1px solid rgb(170,170,170);">
                            <div class="col-xl-3" style="background: #e6e6e6;padding-top: 5px;padding-bottom: 5px;"><span
                                    style="font-size: 14px;color: rgb(99,99,99);"><strong>보내실 곳</strong></span></div>
                            <div class="col" style="padding-top: 5px;padding-bottom: 5px;"><span style="font-size: 14px;">(02830) 서울 마포구
                                    백범로 23 구프라자 3층</span></div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="sidebox" class="col-md-4">
                <div class="row" style="margin-left: 10px;"><span
                        style="margin: 15px;color: rgb(101,101,101);margin-left: 15px;font-family: 'Noto Sans KR', sans-serif;"><strong>색상</strong></span>
                    <div class="col">
                        <select id="selectItem_side" name="selectItem" class="shadow-sm custom-select custom-select-sm"
                            style="margin-top: 12px;width: 135.547px;text-align: left;margin-left: 25px;">
                            <option value="월넛">월넛</option>
                            <option value="오크">오크</option>
                            <option value="고무나무">고무나무</option>
                        </select></div>
                </div>
                <div class="row"
                    style="margin-left: 10px;border-bottom: 1px solid rgb(99,99,99);padding-bottom: 13px;width: 355px;">
                    <span
                        style="margin: 15px;color: rgb(101,101,101);font-family: 'Noto Sans KR', sans-serif;"><strong>개수</strong></span>
                    <div class="col">
                        <input id="itemCount_side" class="border rounded-0 form-control-sm" type="number" min="1" max="10" placeholder="1" value="1" style="margin-top: 12px;height: 33px;width: 88px;margin-left: 25px;">
                    </div>
                </div>
                <div class="row" style="margin-top: 26px;">
                    <div class="col" style="margin-top: 16px;margin-left: 17px;margin-bottom: 40px;"><span
                            style="font-size: 20px;font-family: 'Noto Sans KR', sans-serif;margin-left: 20px;"><strong>총
                                상품금액</strong></span><span
                            style="font-size: 25px;font-family: 'Noto Sans KR', sans-serif;margin-left: 82px;"><strong id="totalPrice_side"><!-- 총액 표시 --></strong></span>
                    </div>
                </div>
                <div class="row" style="width: 382.656px;">
                    <div class="col" style="margin-top: 23px;"><button id="sideCartBtn" class="btn btn-lg" onclick="addCart()" type="button"
                            style="width: 161.375px;height: 48px;margin-left: 8px;border-color: rgb(244,116,76);border-bottom-color: rgb(244,116,76);font-family: 'Noto Sans KR', sans-serif;color: rgb(244,116,76);font-size: 18px;">장바구니</button><button
                            class="btn btn-lg" type="button"
                            style="width: 161.375px;height: 48px;margin-left: 8px;background: rgb(244,116,76);font-family: 'Noto Sans KR', sans-serif;color: rgb(255,255,255);font-size: 18px;" onclick="directPurchase()">바로구매</button>
                    </div>
                </div>
            </div>



        </div>
    </div>





    <footer include-html="../commons/footer.html"></footer>
    
    
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../js/includeHTML.js"></script>
    <script src="../../js/header.js"></script>
    <script type="text/javascript" src="../../js/jquery.twbsPagination.min.js"></script>

    <script>

    //파라미터값 가져오도록 하는 함수
    function getParameter(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    let seq = getParameter("seq");

    //로그인한 계정 닉네임 가져오기
    let sessionId = JSON.parse(sessionStorage.getItem("login"));
    if (sessionId == null) {
        sessionId = '';
    };

    // 금액 콤마 삽입 정규식
    function makeComma(str) {

        str = String(str);
        return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    };


    //할인 퍼센테이지 계산
    function discountRate(price, discount) {
        return Math.ceil(discount / price * 100);
    };

    // 장바구니 버튼 부트스트랩
    $(function () {
        $('[data-toggle="popover"]').popover({
            trigger: 'focus'
        })
    })


    // 상품 옵션, 개수 사이드바와 연동 (개수 조절 시 총금액 변동)
    $('#selectItem').change(function () {
        $('#selectItem_side').val($(this).val()).attr('selected');
    });
    $('#selectItem_side').change(function () {
        $('#selectItem').val($(this).val()).attr('selected');
    });
    $('#itemCount').change(function() {
        if($(this).val() < 1) {
            $(this).val(1)
        }
        else if($(this).val() > 11) {
            $(this).val(10)
        }
        else {
            $(this).val(Math.floor($(this).val()));
        };
        $('#itemCount_side').val($(this).val());
        $('#totalPrice, #totalPrice_side').text(makeComma($('#discountPrice').text().replace(',', '') * $(this).val()) + '원');
    });
    $('#itemCount_side').change(function() {
        if ($(this).val() < 1) {
            $(this).val(1)
        } 
        else if ($(this).val() > 11) {
            $(this).val(10)
        }
        else {
            $(this).val(Math.floor($(this).val()));
        };
        $('#itemCount').val($(this).val());
        $('#totalPrice, #totalPrice_side').text(makeComma($('#discountPrice').text().replace(',', '') * $(this).val()) + '원');
    });

    // 바로구매 기능
    function directPurchase() {

        let selectItem = $('#selectItem').val();
        let itemCount = $('#itemCount').val();
        location.href = "order.html?seq="+seq+"&selectItem=" +selectItem+"&itemCount="+itemCount;
    };
    
    // 장바구니 담기
    function addCart() {

        $.ajax({
            url: "http://192.168.0.231:3000/addCart",
            type: "get",
            data: {
                "cartClassify":"CT-"+sessionId.userSeq,
                "userSeq": sessionId.userSeq,
                "productSeq":seq,
                "selectOption":"{\""+$('#selectKey').text()+"\":\""+$('#selectItem').val()+"\"}",
                "quantity":$('#itemCount').val(),
                "price":$('#sellPrice').text().replace(/[^0-9]/g, '')
            },
            success: function (data) {
                console.log(data);
                if(data=="suc") {
                    console.log('장바구니에 담았습니다.');
                }
                else if(data=="exist") {
                    $('#cartBtn').attr("data-content","장바구니에 이미 담겨있습니다.");
                    alert('장바구니에 이미 담겨있습니다.');
                }
                else {
                    console.log('장바구니에 담기 실패');
                }
            },
            error: function () {
                alert('addCart() error');
            },
            complete:function(data) {

            }
        });
    };

    $(document).ready(function () {

        // 디테일 정보 가져오기
        getProductDetail()
        function getProductDetail() {
            $.ajax({
                url: "http://192.168.0.231:3000/getProductDetail",
                type: "get",
                data: {
                    "productSeq": seq
                },
                success: function (data) {
                    console.log(data);
                    $('#maker').text(data.productMaker);
                    $('#title').text(data.productName);
                    $('#rating').text(data.productRating);
                    $('#starRating').css('width', (data.productRating*20+2)+'%');
                    $('#totalPrice').text(data.productDiscount);
                    $('#content').append(data.productContent);

                    if(data.productDiscount != 0) { // 할인상품이라면,
                        $('#costPrice').text(makeComma(data.productPrice)+'원');
                        $('#discountPrice').text(makeComma(data.productDiscount));
                        $('#discountRate').text(discountRate(data.productPrice, data.productDiscount)+'%');
                        $('#point').text(Math.ceil(data.productDiscount*0.01));
                        $('#totalPrice').text(makeComma(data.productDiscount) + '원');
                        $('#totalPrice_side').text(makeComma(data.productDiscount) + '원');
                    } else {
                        $('#discountPrice').text(makeComma(data.productPrice));
                        $('#sellPrice').attr('style', 'margin: 10px;font-size: 27px;margin-left: 180px;color: rgb(0,0,0);margin-top: 10px;padding: 0px;padding-top: 0px;');
                        $('#point').text(Math.ceil(data.productPrice*0.01));
                        $('#totalPrice').text(makeComma(data.productPrice)+'원');
                        $('#totalPrice_side').text(makeComma(data.productPrice)+'원');
                    };

                    
                    $('#mainImg').attr('src', 'http://192.168.0.231:3000/upload/' + data.productFileName);
                },
                error: function () {
                    alert('getProductDetail() error');
                }
            });
        };




        // 사이드 결제창 스크롤 따라 이동
        $(window).scroll(function () {

            var position = $(window).scrollTop();
            var menuOffset = $('#miniMenu').offset();
            if ($(this).scrollTop() > 800 && $(this).scrollTop() < $(document).height() - 1400) {
                $("#sidebox").css('position', 'fixed');
            }
            else {
                $("#sidebox").css('position', 'relative');
            };

            /*
            if ($(this).scrollTop() > menuOffset.top) {
                $('#miniMenu').addClass('jbFixed');
            } else {
                $('#miniMenu').removeClass('jbFixed');
            };
            */
        });
    });


    // 미니 네비게이션 스크롤 이동
    $('#contentBtn').click(function() {
        document.querySelector('#content').scrollIntoView(true);
    })
    $('#reviewBtn').click(function() {
        document.querySelector('#review').scrollIntoView(true);
    })
    $('#questionBtn').click(function() {
        document.querySelector('#question').scrollIntoView(true);
    })
    $('#deliveryBtn').click(function() {
        document.querySelector('#delivery').scrollIntoView(true);
    })


    </script>
</body>
</html>