<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>완벽한 자취생활, 완자 | 이벤트 상세 정보</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="shortcut icon" href="../../assets/img/wanza-Icon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!-- 폰트어썸아이콘 -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../css/style.css">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"> <!-- jQuery UI css -->
        <link rel="stylesheet" type="text/css" href="../../css/admin/calendar.css"> <!-- 달력 -->   

        <!-- 써머노트 -->
        <link rel="stylesheet" href="../../css/summernote/summernote-lite.css">
        <link rel="stylesheet" href="../../css/summernote/font/summernote.eot">
 
    </head>
    <style>
    input:read-only{
        background-color: #e6e6e6;
    }

    .tab_btn{
        width: 100%;
        height: 50px;
        margin: 10px;
        margin-left: 15px;
        border: none;
        border-radius: 4px;
        color: white;
        background-color: #35ab6f;
        box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(156 39 176 / 40%);
    }
    .tab_btn:active{
        background: radial-gradient(#35ab6f,#56c084);
        transition: all .33s cubic-bezier(.685,.0473,.346,1)
    }

            /* 데이트피커 설정 */
    #ui-datepicker-div select{
        text-align-last: center;
        width: 40%;
        border: none;
        border-radius: 5px;
        margin-right: 2px;
    }
    #ui-datepicker-div .ui-datepicker-header{
        border: none;
        background: #56c084;
        color: #222222;
        font-weight: bold;
    }
    #ui-datepicker-div .ui-datepicker-header a{
        margin-top: 4px;
    }
    #ui-datepicker-div .ui-datepicker-month{
        margin-left: 10px;
    }
    #ui-datepicker-div .ui-datepicker-title option{
        text-align-last: center;
    }
    #ui-datepicker-div .ui-state-default{
        border: #35ab6f;
        background: transparent;
        color: #424242;
        text-align: center;
        width: 40px; height: 30px;
        border-radius: 50%;
    }
    #ui-datepicker-div .ui-state-default:hover{
        background: #35ab6f;
        color: white;
    }
    </style>



<body>

<div class="container-fluid" style="height: 5vh;"></div>
    <!-- 사이드바 메뉴 -->
    <div include-html="sidebar.html"></div>
    <!-- 메인화면 -->
    <div class="main_panel">
        <!-- 테이블박스 -->
        <div class="table_wrap" id="table1">
            <div class="row" style="margin-top: 50px; margin-bottom: 100px;">
                <div class="col-xl-3"></div>
                <div class="col-xl-6">

                    
                    <!-- 이벤트 기간 입력 -->
                    <form id="eventForm">
                        <div class="row" style="margin-bottom: 20px;">
                            <h3 style="font-weight: bold; margin-left: 20px;">이벤트 등록</h3>
                        </div>
                        <div class="row" style="margin-left: 4px;">
                            <div class="form-group" style="width: 40%;">
                                <input autocomplete="off" type="text" class="datepicker s_date form-control" id="startDate" placeholder="이벤트 시작일을 입력해주세요 ex(2020/04/14)" name="eventStartDate" >
                            </div>
                                <span>&ensp;~&ensp;</span>
                            <div class="form-group" style="width: 40%;">
                                <input type="text" autocomplete="off" class="datepicker e_date form-control" id="endDate " placeholder="이벤트 종료일을 입력해주세요 ex(2020/04/15)" name="eventEndDate">               
                            </div>
                        </div>
                        <!-- 이벤트 제목 입력 -->
                        <div class="row" style="margin-left: 4px;">
                            <div class="form-group">
                                <input type="text" class="form-control" id="eventTitle" placeholder="이벤트 제목을 입력 해 주세요" style="width: 500px;" name="eventTitle">               
                            </div>
                            <span>&ensp;&ensp;</span>
                           
                        </div>
                         <!-- 이벤트 썸네일 -->
                         <div>
                            <p style="font-weight: bold;">썸네일 사진을 등록 해 주세요</p>
                            
                            <div style="margin-bottom: 10px;">
                                <input type="file" name="eventFile1">
                            </div>
                        </div>

                        <!-- 이벤트 내용 사진 -->
                        <div>
                            <textarea id="eventFile" class="summernote" name="eventContent" style="width: 700px;"></textarea>
                        </div>
                        

                        <!-- 관련상품 Radio Button -->
                        <div class="row">
                            <div style="margin-top: 10px;">
                                <span style="margin-left: 12px;">관련 상품을 등록하시겠습니까 ?</span>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" id="radioYes" name="optradio" value="yes">예                      
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio2">
                                        <input type="radio" class="form-check-input" id="radioNo" name="optradio" value="no" checked >아니오
                                    </label>
                                </div> 
                            </div>
                        </div>
                        <input id="hideSeq" type='hidden' name='productSeq' value='0'>


                    </form>
        
                    <!-- 상품 이름 검색 -->
                    <div id="productNameInput" class="form-group" style="margin-top: 10px;">
                        <input type="text" class="form-control" id="productName" placeholder="이름으로 검색해서 상품 찾아오기" onkeyup="if(window.event.keyCode==13){searchProduct()}" style="width: 50%;">               
                    </div>
                    
        
                    <!-- 상품 list up -->
                    <div class="row" style="text-align: center;" id="_productListUp">  
                    </div>
                
                    
        
                    <!-- 글쓰기 완료 버튼 -->
                    <div class="row" style="margin-top: 50px;">
                        <button id="eventWriteBtn" class="btn tab_btn" type="button" onclick="completeEvent()">이벤트 작성</button>
                    </div>
                </div>
                <div class="col-xl-3"></div>
            </div>
        </div>
    </div>
</div>




    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script><!-- jQuery UI 라이브러리 -->
    <script src="../../js/includeHTML.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/slang.js"></script>
    <script src="../../js/adminSide.js"></script>
    <!-- 써머노트 스크립트 시작 -->
    <script src="../../css/summernote/summernote-lite.js"></script>
    <script src="../../css/summernote/summernote-ko-KR.js"></script>
<script>
 
$.datepicker.setDefaults({
        showAnim:'slideDown',
        changeMonth: true,
        changeYear: true,
        dateFormat: 'yy/mm/dd',
        monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
        monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
        dayNames: ['일','월','화','수','목','금','토'],
        dayNamesShort: ['일','월','화','수','목','금','토'],
        dayNamesMin: ['일','월','화','수','목','금','토'],
        showMonthAfterYear: true,
        yearSuffix: '년' 
    });

$('.s_date').datepicker({
    onClose: function( selectedDate ) {
        $(".e_date").datepicker( "option", "minDate", selectedDate );
    }   
});
$('.e_date').datepicker({
    onClose: function( selectedDate ) {
        $(".s_date").datepicker( "option", "maxDate", selectedDate );
    }   
});


    // 상품 검색
    function searchProduct(){
        app ="";
        $("#_productListUp").children().remove();
        $.ajax({
            url:"http://localhost:3000/getSearchProduct",
            type:"get",
            data:{productName:$("#productName").val()},
            success:function(list){

                if(list.length ==0){
                    $("#_productListUp").append("<h3 style='text-align: center; margin-top: 50px;'>찾으시는 상품이 없습니다</h3>" );
                }else{
                    $.each(list,function(i,val){
                        app+="<div class='card' style='width: 22%; margin: 1%; padding: 3px;'>"
                            +"<img class='card-img-top' src='http://localhost:3000/upload/"+val.productFileName+"' alt='Card image cap' width='110px' height='150px' style='object-fit: cover;'>"
                            +"<div class='card-img-top'>"
                            +"<p class='card-title'>"+val.productName+"</p>"                            
                            +"<button class='btn btn-primary' onclick='addProduct("+val.productSeq+")'>product add</button>"
                            +"</div>"
                            +"</div>";                        
                    })
                    $("#_productListUp").append(app);
                }                
            },
            error:function(){
                alert("검색에러");
            }
        })        
    }

    // 이벤트 작성 완료
    function completeEvent(){
        if($("#startDate").val()=="" || $("#endDate").val()==""){
            alert("날짜를 확인해주세요");
        }
        /* 유효성 검사 수정 */
        else if(dd){

        }
        var form = $('#eventForm').serialize();

         $.ajax({
            url:"http://localhost:3000/eventWrite",
            type:'post',           
            data:new FormData($('#eventForm')[0]),
            enctype:"multipart/form-data",
			processData:false,
			contentType:false,
			cache:false,
            success:function(str){
                if(str=="suc"){
                    location.href='../community/event.html';
                }else{
                    alert("이벤트 등록실패");
                }
            },error:function(){
                alert("error");
            }

        }) 
       
    }

    function addCancel(){
        $("#_addProduct").remove();
        isDisabled = false;
    }
    
    
    // 중복 등록을 막기위함
    let isDisabled = false;

    // Product add 버튼 클릭시 추가 된 상품 표시
    function addProduct(seq){
        let app="";

        if(isDisabled){
            alert("상품은 1개만 등록 가능합니다");
            return false;
        }else{
            isDisabled = true; 
            $.ajax({
                url:"http://localhost:3000/getProductDetail",
                type:'post',
                data:{productSeq:seq},
                success:function(dto){   
                    app="<div class='input-group mb-3' style='width: 50%;' id='_addProduct'>"
                        +"<input type='text' class='form-control' readonly value='"+dto.productName+"'>"
                        +"<div class='input-group-append'>"
                        +"<button class='btn btn-outline-secondary' type='button' onclick='addCancel()'><i class='fa fa-times' aria-hidden='true'></i></button>"
                        +"</div>"                        
                        +"</div>";                   

                    $("#hideSeq").attr("value",dto.productSeq);      
                    $("#productNameInput").after(app);

                },error:function(){
                    alert("에러");
                }
            })
        }
    }


    $(document).ready(function() {

    $("#productNameInput").hide();


    // 이벤 내용 서머노트
    $('#eventFile').summernote({
          height: 300,                 // 에디터 높이
          minHeight: 150,             // 최소 높이
          maxHeight: null,             // 최대 높이
          focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
          lang: "ko-KR",					// 한글 설정
          placeholder: '이벤트 내용 사진 첨부(사진만 가능)',	//placeholder 설정
          toolbar: [   
          //툴바설정
			    // [groupName, [list of button]]
			    ['style', ['bold', 'italic', 'underline','strikethrough']],
			    ['insert',['picture']],
			    ['view', [ 'help']]
			    ],        
	});

    

    // 라디오 버튼 '예' 클릭 시 상품 검색창을 띄움
    $("input:radio[name='optradio']").click(function(){
        var temp = $('input:radio[name="optradio"]:checked').val();
        if(temp=="yes"){
            $("#productNameInput").show();

        }else{
            $("#hideSeq").val(0);
            $("#productNameInput").hide();
            $("#_productListUp").empty();
            $("#productName").val("");            
            $("#_addProduct").hide();
            isDisabled = false;
        }
    })



});
    
</script>

</body>

</html>