<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>완벽한 자취생활, 완자</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="shortcut icon" href="../../assets/img/wanza-Icon.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../../css/style.css">
    </head>
    <style>
        /* 배송지 탭 */
#order .nav-tabs{
    margin: 40px 0;
}
#order .nav-tabs .nav-link{
    border: none;
    margin-bottom: 0;
}
#order .nav-link.active+.nav-line,
#order .nav-link.active{
    font-weight: bold;
    color: #212529;
    border-bottom: solid #f4744c;
    width: 100%;
    margin-bottom: -2px;
}
#order .nav-tabs a{
    color: #212529;
}
/* 배송지 */
.order_dlvy_name label{
    width: 150px;
}
.order_dlvy_name i{
    position: relative;
    top: 3px; left: -18px;
    z-index: -1;
}
.dlvy{height: 88px;}
.dlvy1>div:first-of-type,
.dlvy div:first-of-type{
    align-items: flex-start;
    padding-top: 8px;
}
/* .dlvy1 label{height: 39.5px;} */
.dlvy1 select,
.dlvy1 input{
    height: 39px;
}
.dlvy_req,
.dlvy_address{
    display: inherit;
    flex-direction: column;
}

.dlvy_address label:first-of-type{
    margin-bottom: 8px;
}




/* 배송지 저장버튼 */
.dlvy_btn{
    width: 40%;
    height: 50px;
    margin: 10px 30%;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: #f4744c;
    font: 1.2em bold;
}
.dlvy_btn:hover{
    color: #f4744c;
    background-color: white;
    border: 0.5px solid #f4744c;
}



select {
    border: 1px solid #EEE;
    border-radius: .25rem;
    /*padding: .5rem 1.5rem .5rem .5rem;*/
    display: flex;
    background-color: white;
    outline: 0;
    height: 30px;
    width: 150px;
    cursor: pointer;
    appearance: none;
    padding-left: 10px;
    padding-right: 10px;
}



    </style>
<body>
    <header include-html="../commons/header.html"></header>
    <nav include-html="../commons/menuComm.html"></nav>
    
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
              <div class="card-body">
                <h4 style="margin-top: 30px; margin-bottom: 30px;">회원정보 수정</h4>
                <form id="userEdit">
                    <input type="hidden" name="userSeq" id="userSeq">
                    <div class="form-group">
                        <label for="email">이메일</label>
                        <input type="email" id="email" name="email" class="form-control border"  value="" disabled>
                    </div>
                      
                    <div class="form-group">
                        <label for="name">닉네임</label>
                        <br>
                        <input type="text" id="nickname" name="nickname"  class="form-control" style="width: 70%; float: left;">
                        <input type="hidden" id="hiddenNickname">
                        <button type="button" class="btn btn-primary" style="margin-left: 55px; background-color:#f18260; border-color: #f18260;" onclick="overlapBtn()">중복 확인</button>
                        <small class="form-text text-danger feedback" id="overlapMsg"><!-- 중복된 닉네임입니다. --></small>
                    </div>

                    <div class="form-group">
                        <label for="profile">프로필 사진</label>
                        <br>
                        <img src="../../assets/img/imgUpload.png" id="_uploadImg" class="uploadImg" width="150px" height="150px">
                        <input type="hidden" id="imgValue">
                        <input type="file" id="_file" name="profile" style="display:none;">
                        <input type="hidden" id="_target_url" name="target_url">  
                    </div>

                    <div class="form-group">
                        <label for="name">주문자 이름</label>
                        <br>
                        <input type="text" id="orderName" name="userName" class="form-control">
                    </div>
                </form>

                    <div class="mb-5">
                        <!-- 탭 -->
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a id="nav-link-select" class="nav-link active" data-toggle="tab" href="#dlvy_select" style="color: #f18260;">배송지목록</a>
                                <div class="nav-line"></div>
                            </li>
                            <li class="nav-item">
                                <a id="nav-link-new" class="nav-link" data-toggle="tab" href="#dlvy_new" style="color: #f18260;">신규배송지</a>
                                <div class="nav-line"></div>
                            </li>
                            <li class="nav-item">
                                <a id="nav-link-new" class="nav-link" data-toggle="tab" href="#dlvy_delete" style="color: #f18260;">배송지삭제</a>
                                <div class="nav-line"></div>
                            </li>
                        </ul>

                        <!-- 탭내용 -->
                        <div class="tab-content">

                            <!--배송지 목록 -->
                            <div class="tab-pane fade show active" id="dlvy_select">
                                    <table class="table">
                                        <colgroup>
                                            <col width="20%"><col width="65%">
                                        </colgroup>
                                        <tr>
                                            <th>배송지명</th>
                                            <th>
                                                <div>
                                                   <div class="selectbox">                                                       
                                                        <!-- 
                                                        <select onchange="selectChange()">
                                                            <option value="집">집</option>
                                                            <option value="회사">회사</option>
                                                        </select>
                                                         -->
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>

                                        <tr>
                                            <th>배송지 주소</th>
                                            <td><input type="text" class="form-control" onclick="execDaumPostcode2()" id="addressList1">
                                                <br>
                                                <input type="text" class="form-control" id="addressList2">
                                            </td>
                                        </tr>

                                        <tr>
                                            <th>받는 사람</th>
                                            <td><input type="text" class="form-control" id="receiveHu"></td>
                                        </tr>
                                        <tr>
                                            <th>배송 연락처</th>
                                            <td><input type="text" class="form-control" id="receiveCall"></td>
                                        </tr>
                                        <tr>
                                            <th></th><td><button type="button" id="updatedelibtn" class="btn btn-primary" style="float:right; background-color:#f18260; border-color: #f18260;" onclick="updateDeli()" disabled>배송지 수정</button></td>
                                        </tr>
                                       

                                    </table>                       
                            </div> 

                            <!-- 신규배송지 -->
                            <div class="tab-pane" id="dlvy_new">
                                <div class="form-group" style="margin-top: 10px;">
                                    <label for="name">주문시 연락받을 전화번호</label>
                                    <br>
                                    <input type="text" id="phone" name="receivePhone"  class="form-control">
                                </div>
            
                                <div class="form-group">
                                    <label for="name">받는 사람 이름</label>
                                    <br>
                                    <input type="text" id="receiveName" name="receiveUser"  class="form-control">
                                </div>
            
                                <div class="form-group">
                                    <label for="name">배송지 명</label>
                                    <br>
                                    <input type="text" id="receiveAddress" name="addressName"  class="form-control" placeholder="ex) 집/회사/학교 등">
                                </div>
                                
                                <div class="form-group">                       
                                    <label for="address">주소</label>
                                    <br>
                                    <input type="text" id="address1" class="form-control border" name="address" style="float: left; margin-bottom: 10px;" onclick="execDaumPostcode()" placeholder="주소를 입력해주세요" readonly>                     
                                    <input type="text" id="address2" class="form-control border" name="address" placeholder="상세주소">
                                </div>
                                <button type="button" style="float: right;background-color:#f18260; border-color: #f18260;" class="btn btn-primary" onclick="insertDele()">등록</button>
                            </div>
                            <!-- 배송지 삭제 -->
                            <div class="tab-pane" id="dlvy_delete">
                              <table class="table" id="deleTb">
                                  <colgroup>
                                    <col width=120px><col width=480px><col>
                                </colgroup>
                                <tr>
                                    <th>배송지명</th><th>주소</th><th></th>                                   
                                </tr>                              
                              </table>
                            </div>
                        </div> <!--탭 컨탠츠 끝-->
                        <button type="button" class="btn btn-primary form-control" id="completeBtn" style="margin-top: 30px; background-color:#f18260; border-color: #f18260;">수정 완료</button>
                    </div>
                    
                
                    
                
              </div>        
          </div>
        </div>
      </div>

    <footer include-html="../commons/footer.html"></footer>
</body>

<script src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../../js/includeHTML.js"></script>
<script src="../../js/header.js"></script>
<script src="../../js/slang.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d9229def17f744d57603391f713d5651&libraries=services"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>


//로그인한 계정 닉네임 가져오기
let sessionId = JSON.parse(sessionStorage.getItem("login"));
console.log(sessionId);

 //카카오 주소 API
function execDaumPostcode() {
    new daum.Postcode({
        oncomplete: function (data) {
            var addr = data.address; // 최종 주소 변수
            // 주소 정보를 해당 필드에 넣는다.
            document.getElementById("address1").value = addr;
        }
    }).open();
};

function execDaumPostcode2() {
    new daum.Postcode({
        oncomplete: function (data) {
            var addr = data.address; // 최종 주소 변수
            // 주소 정보를 해당 필드에 넣는다.
            document.getElementById("addressList1").value = addr;
        }
    }).open();
};


 // 업로드 이미지 클릭시
 $('.uploadImg').click(function(e) {
            $('#_target_url').val(document.getElementById('_uploadImg').src);
            e.preventDefault();
            $('#_file').click();
    });

// 업로드 이미지 미리보기
let sel_file;
$(document).on('change', '#_file', function(e) {
    let files = e.target.files;
    let filesArr = Array.prototype.slice.call(files);

    filesArr.forEach(function(f) {
        if(!f.type.match("image.*")) {
            alert('이미지 확장자만 가능합니다. ');
            return;
        }

        sel_file = f;

        let reader = new FileReader();
        reader.onload = function(e) {
            $('#_uploadImg').attr("src", e.target.result);
        }
        reader.readAsDataURL(f);
    })
});

// 중복버튼
function overlapBtn(){

    if($("#nickname").val()==$("#hiddenNickname").val()){
        $("#overlapMsg").text("");
        alert("이미 사용하고 계신 닉네임 입니다.");
    }else{
        $.ajax({
            url:"http://localhost:3000/overlapNickname",
            type:"post",
            data:{nickname:$("#nickname").val()},
            success:function(str){
                if(str=="suc"){
                    $("#overlapMsg").text("이미 사용중인 닉네임입니다.");
                }else{                
                    $("#overlapMsg").html("<p style='color: blue'>사용 가능한 닉네임입니다.</p>")
                }
            },error:function(){
                alert("에러");
            }
        })
    }
};

// 수정 완료 버튼
$("#completeBtn").click(function(){

    if($("#overlapMsg").text()=="이미 사용중인 닉네임입니다."){
        alert("닉네임을 확인해주세요");
        return;
    }

    if(confirm("이대로 수정하시겠습니까?")==true){


        // 사진이 바뀌었다면
        if($("#_uploadImg").attr("src").split("/").reverse()[0] != $("#imgValue").val() ){
            $.ajax({
                url:"http://localhost:3000/userEdit",
                type:"post",
                data: new FormData($('#userEdit')[0]),
                enctype:"multipart/form-data",
                processData:false,
                contentType:false,
                cache:false,
                async: false,
                success:function(){
                    alert("수정이 완료되었습니다.");
                    location.href="./mainMyPage.html";
                },error:function(){
                    alert("수정실패");
                }
            })
        // 사진이 바뀌지 않았다면
        }else{
            
            $.ajax({
                url:"http://localhost:3000/noProfile",
                type:"post",
                data:{"nickname":$("#nickname").val(),
                        "userSeq":sessionId.userSeq,
                        "userName":$("#orderName").val(), },
                success:function(data){
                    if(data == "suc"){
                        alert("수정이 완료되었습니다.");
                        location.href="./mainMyPage.html";
                    }else{
                        alert("수정 실패");
                    }
                },error:function(){
                    alert("수정 실패");
                }

            })
        }

    }else{
        return;
    }
})


function selectChange(){
    //alert($("#_selected option:selected").val());
    $("#updatedelibtn").removeAttr("disabled");

    $.ajax({
        url:"http://localhost:3000/getAddress",
        type:"post",
        data:{"addressSeq":$("#_selected option:selected").val() },
        success:function(data){
            //alert(JSON.stringify(data));
            let add = (data.address).split("///");
            $("#addressList1").val(add[0]);
            $("#addressList2").val(add[1]);
            $("#receiveHu").val(data.receiveUser);
            $("#receiveCall").val(data.receivePhone);

        },error:function(){
            alert("select error");
        }
    })

}


function updateDeli(){

    if(confirm("배송지를 수정하시겠습니까?")==true){
       $.ajax({
           url:"http://localhost:3000/updateDeli",
           type:"post",
           data:{"addressSeq":$("#_selected option:selected").val(),
                "addressName":$("#_selected option:selected").text(),
                "address":$("#addressList1").val()+"///"+ $("#addressList2").val(),
                "receiveUser": $("#receiveHu").val(),
                "receivePhone":$("#receiveCall").val()},
            success:function(data){
                if(data =="suc"){
                    alert("배송지가 수정되었습니다.");
                }
            },error:function(){
                alert("update deli error");
            }
        })
    }
}






// 배송지 삭제
function deleteDeli(addressSeq){
    if(confirm("해당 배송지를 삭제하시겠습니까?")==true){
        $.ajax({
            url:"http://localhost:3000/deleteAdd",
            type:"post",
            data:{"addressSeq":addressSeq},
            success:function(){
                addressList();
            },error:function(){
                alert("delete error");
            }
        })
    }
}

// 배송지 등록
function insertDele(){
    if(confirm("배송지를 등록하시겠습니까?")==true){
        $.ajax({

            url:"http://localhost:3000/addAddress",
            type:"post",
            data:{"userSeq":sessionId.userSeq, 
                  "receiveUser": $("#receiveName").val(),
                  "addressName":$("#receiveAddress").val(),
                  "address":$("#address1").val()+"///"+$("#address2").val(),
                  "receivePhone":$("#phone").val()
                },
            success:function(){
                alert("등록이 완료되었습니다.");
                $("#receiveName").val("");
                $("#receiveAddress").val("");
                $("#address1").val("");
                $("#address2").val("");
                $("#phone").val("");
            },error:function(){
                alert("insert error");
            }

        })
    }
}







$(document).ready(function(){


    // 처음 유저 정보 뿌리기
    userInfo();
    function userInfo(){
        $.ajax({
            url:"http://localhost:3000/getUserAllInfoCopy",
            type:"post",
            data:{"userSeq":sessionId.userSeq},
            success:function(data){
                //alert(JSON.stringify(data));
                $("#userSeq").val(data.userSeq);
                $("#email").val(data.email);
                $("#nickname").val(data.nickname);
                $("#hiddenNickname").val(data.nickname);

                if(data.profileName != "0"){
                    $('#_uploadImg').attr("src", "http://localhost:3000/upload/"+data.profileName);
                    $("#imgValue").val(data.profileName);
                }

                if(data.userName != "0"){
                    $("#orderName").val(data.userName);
                }

            },error:function(){
                alert("error");
            }
        })
    }
    // 배송지 리스트
    addressList();
    function addressList(){
        $.ajax({
            url:"http://localhost:3000/getAddressList",
            type:"post",
            data:{"userSeq":sessionId.userSeq},
            success:function(list){
                //$("#deleTb").children().remove();
                let app ="";
                let app2 = "<select onchange='selectChange()' id='_selected'><option disabled selected>-- 배송지 선택 --</option>"
                $.each(list,function(i,val){
                    let address = val.address;
                    let splitadd = address.split("///");
                app += '<tr>'
                    +'<td>'+val.addressName+'</td><td>'+splitadd[0]+" "+splitadd[1]+'</td><td><a onclick="deleteDeli('+val.addressSeq+')" style="cursor:pointer;"><i class="fas fa-times"></i></a></td>'
                    +'</tr>';
                app2 += '<option value="'+val.addressSeq+'">'+val.addressName+'</option>';                   
                });
                app2 += '</select>';
                $(".selectbox").append(app2);
                $("#deleTb").append(app);

            },error:function(){
                alert("addressList error");
            }

        })
    }







})


</script>
</html>