<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>완벽한 자취생활, 완자</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="shortcut icon" href="../../assets/img/wanza-Icon.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../../css/style.css">
    </head>
<body>
    <header include-html="../commons/header.html"></header>
    <nav include-html="../commons/menuComm.html"></nav>
    
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
              <div class="card-body">
                <h4 style="margin-top: 30px; margin-bottom: 30px;">회원정보 수정</h4>
                <form id="userEdit">
                    <input type="hidden" name="userSeq" id="userSeq">
                    <div class="form-group">
                        <label for="email">이메일</label>
                        <input type="email" id="email" name="email" class="form-control border"  value="" disabled>
                    </div>
                      
                    <div class="form-group">
                        <label for="name">닉네임</label>
                        <br>
                        <input type="text" id="nickname" name="nickname"  class="form-control" style="width: 70%; float: left;">
                        <input type="hidden" id="hiddenNickname">
                        <button type="button" class="btn btn-primary" style="margin-left: 55px;" onclick="overlapBtn()">중복 확인</button>
                        <small class="form-text text-danger feedback" id="overlapMsg"><!-- 중복된 닉네임입니다. --></small>
                    </div>

                    <div class="form-group">
                        <label for="profile">프로필 사진</label>
                        <br>
                        <img src="../../assets/img/imgUpload.png" id="_uploadImg" class="uploadImg" width="150px" height="150px">
                        <input type="file" id="_file" name="profile" style="display:none;">
                        <input type="hidden" id="_target_url" name="target_url">  
                    </div>

                    <div class="form-group">
                        <label for="name">주문시 연락받을 전화번호</label>
                        <br>
                        <input type="text" id="phone" name="receivePhone"  class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="name">주문자 이름</label>
                        <br>
                        <input type="text" id="orderName" name="userName" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="name">받는 사람 이름</label>
                        <br>
                        <input type="text" id="receiveName" name="receiveUser"  class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="name">배송지 명</label>
                        <br>
                        <input type="text" id="receiveAddress" name="addressName"  class="form-control" placeholder="ex) 집/회사/학교 등">
                    </div>
                    
                    <div class="form-group">                       
                        <label for="address">주소</label>
                        <br>
                        <input type="text" id="address1" class="form-control border" name="address" style="float: left; margin-bottom: 10px;" onclick="execDaumPostcode()" placeholder="주소를 입력해주세요">                     
                        <input type="text" id="address2" class="form-control border" name="address" placeholder="상세주소">
                    </div>
                    <button type="button" class="btn btn-primary form-control" id="completeBtn">수정 완료</button>
                </form>
                    
                
              </div>        
          </div>
        </div>
      </div>

    <footer include-html="../commons/footer.html"></footer>
</body>

<script src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../../js/includeHTML.js"></script>
<script src="../../js/header.js"></script>
<script src="../../js/slang.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d9229def17f744d57603391f713d5651&libraries=services"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>


//로그인한 계정 닉네임 가져오기
let sessionId = JSON.parse(sessionStorage.getItem("login"));
console.log(sessionId);

 //카카오 주소 API
function execDaumPostcode() {
    new daum.Postcode({
        oncomplete: function (data) {
            var addr = data.address; // 최종 주소 변수
            // 주소 정보를 해당 필드에 넣는다.
            document.getElementById("address1").value = addr;
        }
    }).open();
};

 // 업로드 이미지 클릭시
 $('.uploadImg').click(function(e) {
            $('#_target_url').val(document.getElementById('_uploadImg').src);
            e.preventDefault();
            $('#_file').click();
    });

// 업로드 이미지 미리보기
let sel_file;
$(document).on('change', '#_file', function(e) {
    let files = e.target.files;
    let filesArr = Array.prototype.slice.call(files);

    filesArr.forEach(function(f) {
        if(!f.type.match("image.*")) {
            alert('이미지 확장자만 가능합니다. ');
            return;
        }

        sel_file = f;

        let reader = new FileReader();
        reader.onload = function(e) {
            $('#_uploadImg').attr("src", e.target.result);
        }
        reader.readAsDataURL(f);
    })
});

// 중복버튼
function overlapBtn(){

    if($("#nickname").val()==$("#hiddenNickname").val()){
        alert("이미 사용하고 계신 닉네임 입니다.");
    }else{
        $.ajax({
            url:"http://localhost:3000/overlapNickname",
            type:"post",
            data:{nickname:$("#nickname").val()},
            success:function(str){
                if(str=="suc"){
                    $("#overlapMsg").text("이미 사용중인 닉네임입니다.");
                }else{                
                    $("#overlapMsg").html("<p style='color: blue'>사용 가능한 닉네임입니다.</p>")
                }
            },error:function(){
                alert("에러");
            }
        })
    }
};

// 수정 완료 버튼
$("#completeBtn").click(function(){

    if($("#overlapMsg").text()=="이미 사용중인 닉네임입니다."){
        alert("닉네임을 확인해주세요");
        return;
    }

    if(confirm("이대로 수정하시겠습니까?")==true){
        $.ajax({
        url:"http://localhost:3000/userEdit",
        type:"post",
        data: new FormData($('#userEdit')[0]),
        enctype:"multipart/form-data",
        processData:false,
        contentType:false,
        cache:false,
        async: false,
        success:function(){
            alert("수정이 완료되었습니다.");
            location.href="./mainMyPage.html";
        },error:function(){
            alert("수정실패");
        }
    })
    }else{
        return;
    }
   
})







$(document).ready(function(){


    // 처음 유저 정보 뿌리기
    userInfo();
    function userInfo(){
        $.ajax({
            url:"http://localhost:3000/getUserAllInfo",
            type:"post",
            data:{"userSeq":sessionId.userSeq},
            success:function(data){
                //alert(JSON.stringify(data));
                $("#userSeq").val(data.userSeq);
                $("#email").val(data.email);
                $("#nickname").val(data.nickname);
                $("#hiddenNickname").val(data.nickname);

                if(data.profileName != "0"){
                    $('#_uploadImg').attr("src", "http://localhost:3000/upload/"+data.profileName);
                }
                if(data.receivePhone != "0"){
                    $("#phone").val(data.receivePhone); 
                }

                if(data.userName != "0"){
                    $("#orderName").val(data.userName);
                }

                if(data.receiveUser != "0"){
                    $("#receiveName").val(data.receiveUser);
                }

                if(data.addressName != "0"){
                    $("#receiveAddress").val(data.addressName);
                }
                
                if(data.address != null){
                    let address = data.address;
                    let arr = address.split("///");
                    $("#address1").val(arr[0]);
                    $("#address2").val(arr[1]);
                }
            },error:function(){
                alert("error");
            }
        })
    }


})


</script>
</html>